<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header py-3 header-bg">
                    <h6 class="m-0 font-weight-bold text-white">Position Type</h6>
                </div>
                <div class="card-body extend">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Position:</span>
                                </div>
                                <input id="positionname" name="positionname" type="text" class="form-control" placeholder="Enter Position Name" aria-label="positionname" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-4 align mt-1">
                            <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-inventory shadow-sm w-50">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Add
                            </button>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>

<!-- DataTales Example -->
<div class="card shadow mb-4 table-size">
    <div class="card-header py-3 header-bg">
        <h6 class="m-0 font-weight-bold table-title text-white">Positions Data:</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table table-bordered custom-mobile-table" id="position-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th class = "col-1">Position Code</th>
                        <th class = "col-3">Position Name</th>
                        <th class = "col-3">Created by</th>
                        <th class = "col-2">Created date</th>
                        <th class = "col-1">Status</th>
                        <th class = "col-2">Action</th>               
                    </tr>
                </thead>          
                <tbody>
                </tbody>
            </table>
        </div>
        
    </div>
</div>