<!-- Modal -->
<div class="modal fade " id="employeesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg text-white">
                <h5 class="modal-title" id="exampleModalLabel">Employees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="card shadow">
                    <div class="card-header py-2 header-bg">
                        <h6 class="m-0 font-weight-bold table-title text-white">Update Employees: </h6>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <label class="form-label">Employees ID</label>
                                <input id="employeeidmodal" name="employeeidmodal" type="text" class="form-control"aria-label="fullname" aria-describedby="basic-addon1" disabled>        
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <label class="form-label">Position</label>
                                <select class="form-control text-center" name="positionlist" id="positionlist">
                                    <option value="">-- Select here --</option>
                                </select>  
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <label class="form-label">Contact Info</label>
                                <input id="contactinfomodal" name="contactinfomodal" type="text" class="form-control" placeholder="Enter New Contact info" aria-label="fullname" aria-describedby="basic-addon1">        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-outline-inventory" data-dismiss="modal">Close</button>
                <button type="button" id="updateBtn" class="btn btn-outline-inventory">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header py-3 header-bg">
                    <h6 class="m-0 font-weight-bold text-white">Employees</h6>
                </div>
                <div class="card-body extend">
                    <div class="row mb-2">
                        <div class="col-md-6 mmb">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Employee ID</span>
                                </div>
                                <input id="employeeid" name="employeeid" type="text" class="form-control" placeholder="Enter Employee ID" aria-label="employeeid" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Fullname</span>
                                </div>
                                <input id="fullname" name="fullname" type="text" class="form-control" placeholder="Enter Fullname" aria-label="fullname" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 mmb">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Position</span>
                                </div>
                                <input class="form-control text-center custom-input" placeholder="Select/Input Position" name="positionname" id="positionname"/>
                            </div>
                            <div class="custom-dropdown employees-position" id="positionDropdown">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Contact</span>
                                </div>
                                <input id="contactinfo" name="contactinfo" type="text" class="form-control" placeholder="Enter Contact Info" aria-label="contactinfo" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Date Hired:</span>
                                </div>
                                <input type="date" class="form-control" id="datehired" name="datehired" max="<%- currentDate %>">
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-2 align mt-2">
                            <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-inventory shadow-sm w-100">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                ADD
                            </button>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>

<!-- DataTales Example -->
<div class="card shadow mb-4 table-size">
    <div class="card-header py-3 header-bg">
        <h6 class="m-0 font-weight-bold table-title text-white">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table table-bordered custom-mobile-table" id="employees-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th class = "col-1">Employee ID</th>
                        <th class = "col-1">Fullname</th>
                        <th class = "col-1">Position</th>
                        <th class = "col-1">Contact Info</th>
                        <th class = "col-1">Date Hired</th>
                        <th class = "col-1">Created by</th>
                        <th class = "col-1">Created date</th>
                        <th class = "col-1">Status</th>
                        <th class = "col-1">Action</th>               
                    </tr>
                </thead>
                    
                <tbody>
                </tbody>
            </table>
        </div>
        
    </div>
</div>