<!-- Modal -->
<div class="modal fade " id="employeesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg">
                <h5 class="modal-title" id="exampleModalLabel">Employees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="card">
                    <div class="card-header py-2 header-bg">
                        <h6 class="m-0 font-weight-bold table-title">Update Employees: </h6>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <label class="form-label">Employees ID</label>
                                <input id="employeeidmodal" name="employeeidmodal" type="text" class="form-control"aria-label="fullname" aria-describedby="basic-addon1" disabled>        
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <label class="form-label">Contact Info</label>
                                <input id="contactinfomodal" name="contactinfomodal" type="text" class="form-control" placeholder="Enter New Contact info" aria-label="fullname" aria-describedby="basic-addon1">        
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Full Name</label>
                                <input id="fullnamemodal" name="fullnamemodal" type="text" class="form-control" placeholder="Enter Full Name" aria-label="fullname" aria-describedby="basic-addon1">        
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input autocomplete="off" class="form-control text-center custom-input" placeholder="Select Position" name="positionmodal"
                                        id="positionmodal" />
                                    <input autocomplete="off" type="hidden" id="positionmodalID" name="positionmodalID" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">Position</span>
                                    </div>
                                </div>
                                <div class="custom-dropdown cdw-tableoption" id="positionmodalDropdown"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-outline-inventory" data-dismiss="modal">Close</button>
                <button type="button" id="updateBtn" class="btn btn-outline-inventory">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg">
                <h5 class="modal-title" id="exampleModalLabel">Employees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="card">
                    <div class="card-header py-2 header-bg">
                        <h6 class="m-0 font-weight-bold table-title">ARE YOU SURE YOU WANT TO DELETE THIS EMPLOYEE?</h6>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <label class="form-label">Employees ID</label>
                                <input id="employeeidmodal2" name="employeeidmodal2" type="text" class="form-control"aria-label="fullname" aria-describedby="basic-addon1" disabled>        
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <input id="confirm" name="confirm" type="text" class="form-control" placeholder="Type 'CONFIRM' to delete" aria-describedby="basic-addon1">        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtnDel" class="btn btn-outline-inventory" data-dismiss="modal">Close</button>
                <button type="button" id="deleteBtnModal" class="btn btn-outline-inventory" disabled>DELETE</button>
            </div>
        </div>
    </div>
</div>

<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <div class="toggle-view">
        <div class="row mb-2">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header py-3 header-bg">
                        <h6 class="m-0 font-weight-bold mt-2">Employees Table</h6>
                    </div>
                    <div class="card-body extend">
                        <div class="row mb-1">
                            <div class="col-md-6 mb-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Fullname</span>
                                    </div>
                                    <input id="fullname" name="fullname" type="text" class="form-control" placeholder="Enter Fullname" aria-label="fullname" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input autocomplete="off" class="form-control text-center custom-input" placeholder="Select Position" name="position"
                                        id="position" />
                                    <input autocomplete="off" type="hidden" id="positionID" name="positionID" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">Position</span>
                                    </div>
                                </div>
                                <div class="custom-dropdown cdw-tableoption" id="positionDropdown"></div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6 mb-1">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Contact</span>
                                    </div>
                                    <input id="contactinfo" name="contactinfo" type="text" class="form-control" placeholder="Enter Contact Info" aria-label="contactinfo" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Date Hired:</span>
                                    </div>
                                    <input type="date" class="form-control" id="datehired" name="datehired" max="">
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <div class="col-md-2 align mt-2">
                                <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-inventory w-100">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    ADD
                                </button>
                            </div>
                        </div>
                    </div> 
                    
                </div>
            </div>
        </div>    
    </div>   
    

<!-- DataTales Example -->
<div class="card mb-4 cardbody-size-710">
    <div class="progress progress-sm mb-2">
        <div class="progress-bar" role="progressbar" style="width: 0%"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    <div class="card-header py-3 header-bg">
        <div class="row">
            <div class="col-md-4">
                <div class="row mb-2">
                    <button id="toggleButton" name="toggleButton" class=" ml-3 btn btn-circle btn-outline-inventory ">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                    <h6 class="mt-2 ml-3 font-weight-bold table-title">Employees</h6>
                </div>   
            </div>
            <div class="col-md-8">
                <div class="row ">
                    <div class="col-10">
                        <div class="row justify-content-center">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                    placeholder="Search for..." aria-label="Search"
                                    aria-describedby="basic-addon2" id="search-input">
                                <div class="input-group-append">
                                    <button class="btn sis-btn-color" type="button" id="search-button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive scroll-cardbody-size-710">
            <table class="table table-bordered custom-mobile-table" id="employees-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th>Employee ID</th>
                        <th>Fullname</th>
                        <th>Position</th>
                        <th>Contact Info</th>
                        <th>Date Hired</th>
                        <th>Created by</th>
                        <th>Created date</th>
                        <th class = "col-1">Status</th>
                        <th class = "col-1"></th>               
                    </tr>
                </thead>
                    
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>