
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header py-3 header-bg">
                    <h6 class="m-0 font-weight-bold text-white">Sales Details Filter</h6>
                </div>
                <div class="card-body extend">
                    <div class="row mb-2">
                        <div class="col-md-6 mmb">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text label-width" id="basic-addon2">Date:</span>
                                </div>
                                <input id="dateRange" name="dateRange" type="text" class="form-control" placeholder="Select Date Range" aria-describedby="basic-addon1">
                            </div>
                        </div>                        
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text label-width" id="basic-addon2">POS:</span>
                                </div>
                                <input id="posid" name="posid" type="text" class="form-control" placeholder="Enter POS ID" aria-label="fullname" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text label-width" id="basic-addon2">Shift:</span>
                                </div>
                                <input id="shift" name="shift" type="text" class="form-control" placeholder="Enter Shift" aria-label="fullname" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-2 align mt-2">
                            <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-inventory shadow-sm w-100">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                Filter
                            </button>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>

    <div class="card shadow mb-4 table-size">
        <div class="card-header py-3 header-bg">
            <h6 class="m-0 font-weight-bold table-title text-white">Sales Details:</h6>
        </div>
    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table table-bordered custom-mobile-table" id="salesdetail-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th class = "col-1">Details ID</th>
                        <th class = "col-2">Date</th>
                        <th class = "col-1">POS ID</th>
                        <th class = "col-1">Shift</th>
                        <th class = "col-1">Payment Type</th>
                        <th class = "col-2">Description</th>
                        <th class = "col-1">Total</th>
                        <th class = "col-2">Cashier</th>             
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>