<script>
    document.addEventListener('DOMContentLoaded', () => {
        data = [];

        function populateTable(data) {
            console.log(data);
            const tableBody = document.querySelector('#salesdetail-dataTable tbody');
            tableBody.innerHTML = '';

            if (data.length === 0) {
                const tr = document.createElement('tr');
                tr.innerHTML = '<td colspan="8" class="text-center">Please use the Details Filter to show data</td>';
                tableBody.appendChild(tr);
            } else {
                data.forEach(row => {
                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td><a class="bmss-link" href="/salesitems">${row.detailid}</a></td>
                        <td>${row.date}</td>
                        <td>${row.posid}</td>
                        <td>${row.shift}</td>
                        <td>${row.paymenttype}</td>
                        <td>${row.description}</td>
                        <td>${row.total}</td>
                        <td>${row.cashier}</td>
                    `;
                    tableBody.appendChild(tr);
                });
            }
        }

        populateTable(data);
        
        $(document).on('click', '#addBtn', function () {
            const shiftValue = $('#shift').val();
            const dateRangeValue = $('#dateRange').val();
            const posidValue = $('#posid').val();

            $.ajax({
                url: '/salesdetails/load',
                method: 'GET',
                dataType: 'json',
                data: {
                    shift: shiftValue,
                    dateRange: dateRangeValue,
                    posid: posidValue
                },
                success: function (data) {
                    if (data.msg === 'success') {
                        $('#shift').val('');
                        $('#dateRange').val('');
                        $('#posid').val('');
                        populateTable(data.data);
                    } else {
                        console.error(data.msg);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });


        // Initialize date range picker
        $('#dateRange').daterangepicker({
            opens: 'left',
            locale: {
                format: 'YYYY-MM-DD',
                separator: ' to '
            }
        });
        $('#dateRange').val('');
    });
</script>
