<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <div class="row mb-2 mt-2">
        <div class="col-md-4">
            <div class="input-group shadow">
                <button id="adjustDateBackward" class="btn btn-outline-inventory custom-br-left"><i class="fas fa-caret-left"></i></button>
                <input id="dateRange" name="dateRange" type="text" class="form-control text-center" placeholder="Select Date Range" aria-describedby="basic-addon1" readonly>
                <button id="adjustDateForward" class="btn btn-outline-inventory custom-br-right"><i class="fas fa-caret-right"></i></button>
            </div> 
        </div>   
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">

                        <li class="nav-item col text-center mb-1">
                            <a class="nav-link dashboard-option active" id="sales-tab" data-toggle="pill" href="#sales-tab-pane" role="tab" aria-controls="sales-tab-pane" aria-selected="true">Sales</a>
                        </li>
                        <li class="nav-item col text-center mb-1">
                          <a class="nav-link dashboard-option" id="top-sellers-tab" data-toggle="pill" href="#top-sellers" role="tab" aria-controls="top-sellers" aria-selected="false">Top Sellers</a>
                        </li>
                        <% if (accesstype === "Owner" || accesstype === "Manager") { %>
                            <li class="nav-item col text-center mb-1">
                                <a class="nav-link dashboard-option" id="sales-per-employee-tab" data-toggle="pill" href="#sales-per-employee" role="tab" aria-controls="sales-per-employee" aria-selected="false">Employees Sales</a>
                            </li>
                        <% } %>
                        <li class="nav-item col text-center mb-1">
                            <a class="nav-link dashboard-option" id="branches-sales-tab" data-toggle="pill" href="#branches-sales" role="tab" aria-controls="branches-sales" aria-selected="false">Branches Sales</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body pt-0">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="sales-tab-pane" role="tabpanel" aria-labelledby="sales-tab">
                            <div class="card">
                                <div class="card-header p-0">
                                    <ul class="nav nav-pills" id="sales-pills-tab" role="tablist">

                                        <li class="nav-item sales-options text-center mb-1">
                                            <a class="sales-link active" id="grosssales-option" data-toggle="pill" href="#grosssales" role="tab" aria-controls="grosssales" aria-selected="true">
                                                <span>Gross Sales</span><br>
                                                <span id="gross-sales-total">₱0.00</span>
                                            </a>
                                        </li>
                                        <li class="nav-item sales-options text-center mb-1">
                                            <a class="sales-link" id="refunds-option" data-toggle="pill" href="#" role="tab" aria-controls="refunds" aria-selected="false">
                                                <span>Refunds</span><br>
                                                <span id="refunds-total">₱0.00</span>
                                            </a>
                                        </li>
                                        <li class="nav-item sales-options text-center mb-1">
                                            <a class="sales-link" id="discounts-option" data-toggle="pill" href="#" role="tab" aria-controls="discounts" aria-selected="false">
                                                <span>Discounts</span><br>
                                                <span id="discounts-total">₱0.00</span>
                                            </a>
                                        </li>
                                        <li class="nav-item sales-options text-center mb-1">
                                            <a class="sales-link" id="netsales-option" data-toggle="pill" href="#" role="tab" aria-controls="netsales" aria-selected="false">
                                                <span>Net Sales</span><br>
                                                <span id="net-sales-total">₱0.00</span>
                                            </a>
                                        </li>
                                        <li class="nav-item sales-options text-center mb-1">
                                            <a class="sales-link" id="grossprofit-option" data-toggle="pill" href="#" role="tab" aria-controls="grossprofit" aria-selected="false">
                                                <span>Gross Profit</span><br>
                                                <span id="gross-profit-total">₱0.00</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body p-3" style="height: 490px;">
                                    <div class="tab-content" id="sales-tab-contents">
                                        <div class="tab-pane show active" id="grosssales" role="tabpanel" aria-labelledby="grosssales-option">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card-body p-0 gross-sales-chart">
                                                        <canvas id="grosssaleschart"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="top-sellers" role="tabpanel" aria-labelledby="top-sellers-tab">
                            <div class="row d-flex">
                                <div class="col padding-fix">
                                    <div class="asvesti-border">
                                        <div class="card dashboard-size">
                                            <div class="card-header py-3 header-bg">
                                                <h4 class="m-0 card-title">Best Sellers</h4>
                                            </div>
                                            <div class="card-body">
                                                <div style="width: 100%; margin: auto; height: 300px;" id="chartContainer" class="chartContainer">
                                                    <canvas class="chartbox" id="topSellersChart"></canvas>
                                                </div>
                                                <div class="text-center w-100" id="noDataMessage" style="display: none;">
                                                    <p>No Current Sales.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card  mb-4 table-size-sm border">
                                        <div class="card-header py-3 header-bg">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h6 class="mt-2 font-weight-bold table-title">Sold Items</h6>
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    Total Price: <span class="overallTotal"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive scrollable-table-container-sm border">
                                                <table class="table table-bordered custom-mobile-table" id="sales-table" width="100%" cellspacing="10">
                                                    <thead class="table-header">
                                                        <tr>
                                                            <th class="col-5">Name</th>
                                                            <th class="col-3">Price</th>
                                                            <th class="col-4">Total Sold</th>        
                                                        </tr>
                                                    </thead>
                                    
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sales-per-employee" role="tabpanel" aria-labelledby="sales-per-employee-tab">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="card-title text-right mt-2">
                                                        Sales Per Employee
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="customdropdown">
                                                        <div class="select selectcashier">
                                                            <span id="selectedcashier">Select cashier</span>
                                                            <i class="fa fa-chevron-left"></i>
                                                        </div>
                                                        <input autocomplete="off" type="hidden" name="cashierid" id="cashierid">
                                                        <ul class="customdropdown-menu cashierlist">
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-1" style="padding-left: 0 !important; padding-right: 0 !important;">
                                                    <div class="row d-flex justify-content-center">
                                                        <button class="btn btn-outline-inventory" id="convertopdf">
                                                            <i class="fas fa-download fa-sm"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="table-responsive scrollable-table-container-sm border">
                                                        <table class="table table-bordered custom-mobile-table" id="employees-table" width="100%" cellspacing="10">
                                                            <thead class="table-header">
                                                                <tr>
                                                                    <th class = "col-6">Product Name</th>
                                                                    <th class = "col-3">Price</th>
                                                                    <th class = "col-3">Total Sold</th>        
                                                                </tr>
                                                            </thead>
                                            
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h5 class="mb-1">Date: <span class="date"></span></h5>
                                                    <h5 class="mb-1">Branch: <span class="branchid"></span></h5>
                                                    <h5 class="mb-1">Total Sales: <span class="totalsales"></span></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="branches-sales" role="tabpanel" aria-labelledby="branches-sales-tab">
                            <div class="card">
                                <div class="card-header p-0">
                                    <ul class="nav nav-pills" id="branches-pill-tab" role="tablist">
                                    </ul>
                                </div>
                                <div class="card-body p-3" style="height: 490px;">
                                    <div class="tab-content" id="sales-tab-contents">
                                        <div class="tab-pane show active" id="grosssales" role="tabpanel" aria-labelledby="grosssales-option">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card-body p-0 gross-sales-chart">
                                                        <canvas id="salesChart"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
