<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card border-left-teal h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="monthlyearning"></span></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card border-left-teal h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Earnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="annualearning"></span></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card border-left-info h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><span id="task"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-3">
            <div class="card border-left-teal h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><span id="pendingrequest"></span></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row mb-2 justify-content-center">
                        <div class="responsive-col">
                            <div class="input-group">
                                <button id="adjustDateBackward" class="btn btn-outline-inventory custom-br-left"><i class="fas fa-caret-left"></i></button>
                                <input id="dateRange" name="dateRange" type="text" class="form-control text-center" placeholder="Select Date Range" aria-describedby="basic-addon1" readonly>
                                <button id="adjustDateForward" class="btn btn-outline-inventory custom-br-right"><i class="fas fa-caret-right"></i></button>
                            </div> 
                        </div>   
                    </div>
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">

                        <li class="nav-item col text-center mb-1">
                          <a class="nav-link dashboard-option active" id="top-sellers-tab" data-toggle="pill" href="#top-sellers" role="tab" aria-controls="top-sellers" aria-selected="true">Top Sellers</a>
                        </li>
                        <li class="nav-item col text-center mb-1">
                          <a class="nav-link dashboard-option" id="sales-per-employee-tab" data-toggle="pill" href="#sales-per-employee" role="tab" aria-controls="sales-per-employee" aria-selected="false">Employee</a>
                        </li>
                        <li class="nav-item col text-center mb-1">
                          <a class="nav-link dashboard-option" id="reports-tab" data-toggle="pill" href="#reports" role="tab" aria-controls="reports" aria-selected="false">Reports</a>
                        </li>
                        <li class="nav-item col text-center mb-1">
                            <a class="nav-link dashboard-option" id="yearly-sales-tab" data-toggle="pill" href="#yearly-sales" role="tab" aria-controls="yearly-sales" aria-selected="false">Yearly Sales</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="top-sellers" role="tabpanel" aria-labelledby="top-sellers-tab">
                            <div class="row d-flex">
                                <div class="col padding-fix">
                                    <div class="asvesti-border">
                                        <div class="card dashboard-size">
                                            <div class="card-header py-3 header-bg">
                                                <h4 class="m-0 card-title">Best Sellers</h4>
                                            </div>
                                            <div class="card-body">
                                                <div style="width: 100%; margin: auto; height: 300px;" id="chartContainer" class="chartContainer">
                                                    <canvas class="chartbox" id="myChart"></canvas>
                                                </div>
                                                <div class="text-center w-100" id="noDataMessage" style="display: none;">
                                                    <p>No Current Sales.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card  mb-4 table-size-sm">
                                        <div class="card-header py-3 header-bg">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h6 class="mt-2 font-weight-bold table-title">Sold Items</h6>
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    Total Price: <span class="overallTotal"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive scrollable-table-container-sm">
                                                <table class="table table-bordered custom-mobile-table" id="sales-table" width="100%" cellspacing="10">
                                                    <thead class="table-header">
                                                        <tr>
                                                            <th class = "col-6">Name</th>
                                                            <th class = "col-3">Price</th>
                                                            <th class = "col-3">Total Sold</th>        
                                                        </tr>
                                                    </thead>
                                    
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="sales-per-employee" role="tabpanel" aria-labelledby="sales-per-employee-tab">

                        </div>
                        <div class="tab-pane fade" id="reports" role="tabpanel" aria-labelledby="reports-tab">
                            <div class="card">
                                <div class="card-header py-3 header-bg">
                                    <h6 class="m-0 font-weight-bold table-title">Shift Reports</h6>
                                </div>
                                <div class="card-body">
                        
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="yearly-sales" role="tabpanel" aria-labelledby="yearly-sales-tab">
                            <div class="card dashboard-size">
                                <div class="card-header py-3 header-bg">
                                    <h6 class="m-0 font-weight-bold table-title">Current Year Sales</h6>
                                </div>
                                <div class="card-body yearly-chart">
                                    <canvas id="salesChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
