<script>
    $(document).ready(function () {
        const date = new Date();
        const month = date.getMonth();
        let currentFilter = 'daily';
        let topSellersChart = null;
        let grossSalesChart;
        let activeDiscounts = [];
        let discounts = 0;
        let grosssales = 0;
        let refunds = 0;
        LoadYearly();
        LoadList();

        //#region Date Ranger Picker
        $('#dateRange').daterangepicker({
            opens: 'right',
            startDate: moment().subtract(7, 'days'),
            endDate: moment(),
            maxDate: moment(),
            // ranges: {
            //     'Today': [moment(), moment()],
            //     'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            //     'This Week': [moment().startOf('week'), moment().endOf('week')],
            //     'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
            //     'This Month': [moment().startOf('month'), moment().endOf('month')],
            //     'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
            //     'Last 3 Months': [moment().subtract(3, 'months').startOf('month'), moment().endOf('month')],
            // },
            alwaysShowCalendars: true,
            showCustomRangeLabel: false,
            buttonClasses: ['btn btn-outline-inventory'],
            applyButtonClasses: ['test'],
            locale: {
                format: 'MMM D, YYYY'
            }
        });

        $('#adjustDateBackward').on('click', function () {
            var startDate = $('#dateRange').data('daterangepicker').startDate;
            var endDate = $('#dateRange').data('daterangepicker').endDate.clone().subtract(7, 'days');
            $('#dateRange').data('daterangepicker').setEndDate(endDate);
            $('#dateRange').data('daterangepicker').setStartDate(startDate.clone().subtract(7, 'days'));
            
            refreshData(dateRange);
        });

        $('#adjustDateForward').on('click', function () {
            var startDate = $('#dateRange').data('daterangepicker').startDate;
            var endDate = $('#dateRange').data('daterangepicker').endDate.clone().add(7, 'days');
            $('#dateRange').data('daterangepicker').setStartDate(startDate.clone().add(7, 'days'));
            $('#dateRange').data('daterangepicker').setEndDate(endDate);
        
            refreshData(dateRange);
        });

        let initialdate = $('#dateRange').val();
        getData(initialdate);
        GrossSales(initialdate);

        $(document).on('click', '.applyBtn', function () {
            // console.log(dateRange);
            refreshData(dateRange);
        });

        function refreshData(daterange){
            let dateRange = $('#dateRange').val();
            let cashiername = $('#cashierid').val();

            if (topSellersChart) {
                topSellersChart.destroy();
                topSellersChart = null;
            }

            if (grossSalesChart) {
                grossSalesChart.destroy();
                grossSalesChart = null;
            }

            getData(dateRange);
            GrossSales(dateRange);

            $('.branchid').text('No Data');
            $('.totalsales').text('No Data');

            if (cashiername != '') {
                displayEmployeeData(cashiername, dateRange);
            } else {
                const tableBody = document.querySelector('#employees-table tbody');

                while (tableBody.firstChild) {
                    tableBody.removeChild(tableBody.firstChild);
                }

                const noDataRow = tableBody.insertRow();
                const noDataCell = noDataRow.insertCell(0);
                noDataCell.colSpan = 3;
                noDataCell.textContent = "Please Select a Cashier to display Data";
                return;
            }
            $('.date').text(dateRange);
        }
        
        //#endregion

        $('#pills-tab a').on('shown.bs.tab', function (e) {
            var targetTabId = $(e.target).attr('href');
            if (targetTabId === "#employee-sales") {
                if (topSellersChart) {
                    topSellersChart.destroy();
                    topSellersChart = null;
                }
            }
        });

        // $(document).on('click', '#top-sellers-tab', function() {
        //     getData(initialdate);
        // });

        //#region GrossSales
        function GrossSales(daterange){
            let startDate = moment(daterange.split(' - ')[0], 'MMM D, YYYY').format('MM/DD/YYYY');
            let endDate = moment(daterange.split(' - ')[1], 'MMM D, YYYY').format('MM/DD/YYYY');
            let formattedDate = startDate + ' - ' + endDate;

            if (daterange == '') {
                warning('Error', 'No Date Found')
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/salesdetails/gettotalsold',
                    data: {
                        daterange: formattedDate,
                    },
                    success: function (result) {
                        let sDate = moment(daterange.split(' - ')[0], 'MMM D, YYYY').format('YYYY-MM-DD');
                        let eDate = moment(daterange.split(' - ')[1], 'MMM D, YYYY').format('YYYY-MM-DD');
                        let filteredData = {}; 

                        $.ajax({
                            type: 'POST',
                            url: '/salesdetails/getgrossprofit',
                            data: {
                                daterange: formattedDate,
                            },
                            success: function (result) {
                                console.log(result.data)
                                $("#gross-profit-total").text(formatCurrency(result.data))
                            },error: function (err) {
                                warning(err);
                            }
                        });
                        
                        // console.log(result.data)
                        let currentDate = moment(sDate);
                        while (currentDate.isSameOrBefore(eDate, 'day')) {
                            filteredData[currentDate.format('YYYY-MM-DD')] = { total: 0 };
                            currentDate.add(1, 'days');
                        }

                        result.data.forEach(item => {
                            let date = item.date.split(' ')[0];

                            if (!filteredData[date]) {
                                filteredData[date] = { total: 0 };
                            }

                            filteredData[date].total += parseFloat(item.total);
                        });

                        // console.log("Filtered Data:", filteredData);
           
                        let labels = [];
                        let data = [];

                        // Populate labels and data arrays with filtered data
                        Object.keys(filteredData).forEach(date => {
                            labels.push(date);
                            data.push(filteredData[date].total);
                        });

                        grosssales = data.reduce((acc, val) => acc + val, 0)+discounts;
                        // console.log(data)

                        $("#gross-sales-total").text(formatCurrency(grosssales));
                        let netsales = (parseFloat(discounts)+parseFloat(refunds))+parseFloat(grosssales);
                        $("#discounts-total").text(formatCurrency(parseFloat(discounts).toFixed(2)));
                        $("#net-sales-total").text(formatCurrency(netsales))
                        
                        // Create a Chart.js chart
                        let ctx = document.getElementById('grosssaleschart').getContext('2d');

                        if(!grossSalesChart){
                            grossSalesChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Gross Sales',
                                    data: data,
                                    borderColor: 'rgb(52, 177, 170, 0.85)', 
                                    fill: 'false',
                                    lineTension: 0.4

                                }]
                            },options: {
                                maintainAspectRatio: false,
                                plugins: {
                                    legend: {
                                        display: false, 
                                    }
                                },
                                scales: {
                                        x: {
                                            grid: {
                                                display: false,
                                            },
                                            offset: true,
                                        },
                                        y: {
                                            grid: {
                                                display: false,
                                            },
                                            ticks: {
                                                callback: function (value, index, values) {
                                                    return formatCurrency(value); // Add ₱ to the label
                                                }
                                            }
                                        },
                                    }
                                }
                            });
                        }
                    }, error: function (err) {
                        warning(err);
                    }
                });
            }
        }
        //#endregion 

        //#region Employee Reports
        $(document).on('change', '#cashierid', function () {
            let cashiername = $(this).val();
            let dateRange = $('#dateRange').val();
            $('.date').text(dateRange);
            // console.log("Cashier Name: ", cashiername, "Date Range: ", dateRange)

            $('.branchid').text('No Data');
            $('.totalsales').text('No Data');
            displayEmployeeData(cashiername, dateRange);
        });

        function displayEmployeeData(cashier, dateRange) {
            let startDate = moment(dateRange.split(' - ')[0], 'MMM D, YYYY').format('MM/DD/YYYY');
            let endDate = moment(dateRange.split(' - ')[1], 'MMM D, YYYY').format('MM/DD/YYYY');
            let formattedDate = startDate + ' - ' + endDate;
            let employeeData = [];
            $.ajax({
                url: '/shiftreports/getemployeesales',
                method: 'POST',
                data: {
                    cashier: cashier,
                    daterange: formattedDate,
                },
                success: function (data) {
                    let employeeData = data.data;
                    populateSoldItemsEmployee(employeeData);
                    // console.log(employeeData);
                    let totalsales = 0;
                    employeeData.forEach(item => {
                        let sales = parseFloat(item.total);
                        totalsales += sales;
                    })
                    if (data.data != 0) {
                        $('.branchid').text(employeeData[0].branch);
                        $('.totalsales').text(formatCurrency(totalsales));
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        function populateSoldItemsEmployee(data) {
            // console.log(data)
            const mergedData = {};

            const tableBody = document.querySelector('#employees-table tbody');

            while (tableBody.firstChild) {
                tableBody.removeChild(tableBody.firstChild);
            }

            if (data.length === 0) {
                const noDataRow = tableBody.insertRow();
                const noDataCell = noDataRow.insertCell(0);
                noDataCell.colSpan = 3;
                noDataCell.textContent = "No Sales at this Date";
                $('.overallTotal').text(formatCurrency(0));
                return;
            }
            data.forEach(item => {
                const parsedItem = JSON.parse(item.description);

                parsedItem.forEach(product => {
                    const { name, price, quantity } = product;

                    if (mergedData[name]) {
                        mergedData[name].quantity += quantity;
                        mergedData[name].price += price * quantity;
                    } else {
                        mergedData[name] = { quantity, price: price * quantity };
                    }

                });
            });

            const sortedProducts = Object.entries(mergedData)
                .map(([productName, productDetails]) => ({ productName, ...productDetails }))
                .sort((a, b) => b.quantity - a.quantity);

            for (const product of sortedProducts) {
                const newRow = tableBody.insertRow();

                const nameCell = newRow.insertCell(0);
                const priceCell = newRow.insertCell(1);
                const quantityCell = newRow.insertCell(2);

                nameCell.textContent = product.productName;
                priceCell.textContent = formatCurrency(product.price);
                quantityCell.textContent = product.quantity;
            }
        }

        function LoadList() {
            $.ajax({
                type: 'GET',
                url: '/discount/load',
                success: function (result) {
                    var data = result.data;

                    $.each(data, function (key, item) {
                        if(item.status == "ACTIVE"){
                            activeDiscounts.push(item.name)
                        }
                    });
                    console.log("activeDiscounts: ", activeDiscounts)
                },
                error: function (err) {
                    warning(err);
                }
            });

            $.ajax({
                type: 'POST',
                url: '/salesdetails/load',
                success: function (result) {
                    var data = result.data;
                    var uniqueCashiers = [];

                    $.each(data, function (key, item) {
                        if (uniqueCashiers.indexOf(item.cashier) === -1) {
                            uniqueCashiers.push(item.cashier);

                            var listItem = $('<li></li>')
                                .text(item.cashier)
                                .data('cashierid', item.cashier);

                            $('.cashierlist').append(listItem);
                        }
                    });

                    $('.cashierlist').on('click', 'li', function () {
                        var selectedOption = $(this).text();
                        var selectedcashierId = $(this).data('cashierid');

                        $('#selectedcashier').text(selectedOption);
                        $('#cashierid').val(selectedcashierId).change();
                    });
                },
                error: function (err) {
                    warning(err);
                }
            });
        }

        $('#convertopdf').on('click', function () {
            let dateRange = $('#dateRange').val();
            let cashier = $('#cashierid').val();

            let message = "";
            if (cashier == "" || cashier == null || cashier == undefined) {
                message += "Empty Cashier field!"
            }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            } else {
                let startDate = moment(dateRange.split(' - ')[0], 'MMM D, YYYY').format('MM/DD/YYYY');
                let endDate = moment(dateRange.split(' - ')[1], 'MMM D, YYYY').format('MM/DD/YYYY');
                let formattedDate = startDate + ' - ' + endDate;

                $.ajax({
                    url: '/shiftreports/getemployeesales',
                    method: 'POST',
                    data: {
                        cashier: cashier,
                        daterange: formattedDate,
                    },
                    success: function (data) {
                        let employeeData = data.data;
                        let processeddata = processPdfData(employeeData);
                        let template = "EMPLOYEE SALES REPORT";
                        let category = '';
                        let branch = employeeData[0].branch;
                        console.log("processed data:", processeddata)

                        if (data.msg == "success") {
                            if (processeddata.length != 0) {
                                $.ajax({
                                    type: "POST",
                                    url: "/pdf/processpdfdata",
                                    data: {
                                        processeddata: processeddata,
                                        template: template,
                                        category: category,
                                        date: formattedDate,
                                        branch: branch,
                                        employee: cashier,
                                    },
                                    success: function (result) {
                                        // console.log("MSG: ", result.msg)
                                        if (result.msg == "success") {
                                            window.open(`/pdf/generatepdf`, "_blank");
                                            success("Success", "PDF generate successfully!");
                                        }
                                    },
                                    error: function (err) {
                                        warning(err);
                                    },
                                });
                            }
                        } else {
                            warning("Notice", "No Data within in the date range.")
                        }
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });

            }
        });

        function processPdfData(data) {
            const mergedData = {};

            data.forEach(item => {
                const parsedItem = JSON.parse(item.description);

                parsedItem.forEach(product => {
                    const { name, price, quantity } = product;

                    if (mergedData[name]) {
                        mergedData[name].quantity += quantity;
                        mergedData[name].price += price * quantity;
                    } else {
                        mergedData[name] = { quantity, price: price * quantity };
                    }

                });
            });

            const sortedProducts = Object.entries(mergedData)
                .map(([productName, productDetails]) => ({ productName, ...productDetails }))
                .sort((a, b) => b.quantity - a.quantity);

            return sortedProducts;
        }
        //#endregion

        //#region Top Sellers
        function getData(daterange) {
            let startDate = moment(daterange.split(' - ')[0], 'MMM D, YYYY').format('MM/DD/YYYY');
            let endDate = moment(daterange.split(' - ')[1], 'MMM D, YYYY').format('MM/DD/YYYY');
            let formattedDate = startDate + ' - ' + endDate;
            if (daterange == '') {
                warning('Error', 'No Date Found')
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/salesdetails/getdescription',
                    data: {
                        daterange: formattedDate,
                    },
                    success: function (result) {
                        // console.log(result.data)
                        if (result.msg == 'success') {
                            discounts = 0
                            //#region Discount
                            let data = result.data
                            data.forEach(item => {
                                let description = JSON.parse(item.st_description)

                                description.forEach(item => {
                                    let match = item.name.match(/\((.*?)\)/);
                                    if (match) {
                                        let textInsideParentheses = match[1];
                                        if (activeDiscounts.includes(textInsideParentheses)) {
                                            // console.log("Match found:", textInsideParentheses, item.price, item.quantity); 
                                            discounts += parseFloat(item.price)
                                        }
                                    } else {
                                        warning("Error")
                                    }
                                })
                            });

                            //#endregion
                            
                            populateSoldItemsTable(result.data);
                            let topSalesItems = processSalesData(result.data);
                            // console.log(topSalesItems);
                            if (topSalesItems && topSalesItems.length > 0) {
                                let labels = topSalesItems.map(item => item.name);
                                let totalQuantity = topSalesItems.map(item => item.totalQuantity);
                                if (!topSellersChart) {
                                    let ctx = document.getElementById('topSellersChart').getContext('2d');
                                    let chartdata = {
                                        labels: labels,
                                        datasets: [{
                                            label: 'Total Sales',
                                            data: totalQuantity,
                                            backgroundColor: [
                                                'rgb(87, 125, 134)',
                                                'rgb(86, 157, 170)',
                                                'rgb(135, 203, 185)',
                                                'rgb(100, 204, 197, 0.75)',
                                                'rgb(185, 237, 221)',
                                            ],
                                        }]
                                    };

                                    let config = {
                                        type: 'bar',
                                        data: chartdata,
                                        options: {
                                            maintainAspectRatio: false,
                                            scales: {
                                                x: {
                                                    barPercentage: 0.5,
                                                    grid: {
                                                        display: false,
                                                    },
                                                },
                                                y: {
                                                    ticks: {
                                                        callback: function (value, index, values) {
                                                            return `${value.toLocaleString(undefined, { maximumFractionDigits: 0 })}`;
                                                        }
                                                    }
                                                }
                                            },
                                            animation: {
                                                duration: 1000,
                                                easing: 'easeInOutQuad'
                                            },
                                            plugins: {
                                                legend: {
                                                    labels: {
                                                        font: {
                                                            family: 'Open Sans',
                                                            size: 14 // Set the font size here
                                                        }
                                                    }
                                                },
                                                scales: {
                                                    x: {
                                                        ticks: {
                                                            font: {
                                                                family: 'Open Sans',
                                                                size: 12
                                                            }
                                                        }
                                                    },
                                                    y: {
                                                        ticks: {
                                                            font: {
                                                                family: 'Open Sans',
                                                                size: 12
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    };

                                    topSellersChart = new Chart(ctx, config);
                                } else {
                                    topSellersChart.data.labels = labels;
                                    topSellersChart.data.datasets[0].data = totalQuantity;
                                    topSellersChart.update({
                                        duration: 1000,
                                        easing: 'easeInOutQuad'
                                    });
                                }
                                $('#chartContainer').show();
                                $('#noDataMessage').hide();
                            } else {
                                $('#chartContainer').hide();
                                $('#noDataMessage').show();
                                // console.log('No data available.');
                            }
                        }
                    },
                    error: function (err) {
                        warning(err);
                    }
                });
            }
        }

        function populateSoldItemsTable(data) {
            // console.log("Details: ", data);
            const mergedData = {};
            let overallTotalPrice = 0;

            const tableBody = document.querySelector('#sales-table tbody');

            while (tableBody.firstChild) {
                tableBody.removeChild(tableBody.firstChild);
            }

            if (data.length === 0) {
                const noDataRow = tableBody.insertRow();
                const noDataCell = noDataRow.insertCell(0);
                noDataCell.colSpan = 3;
                noDataCell.textContent = "No Data Found";
                $('.overallTotal').text(formatCurrency(0));
                return;
            }

            data.forEach(item => {
                const parsedItem = JSON.parse(item.st_description);

                parsedItem.forEach(product => {
                    const { name, price, quantity } = product;

                    if (mergedData[name]) {
                        mergedData[name].quantity += quantity;
                        mergedData[name].price += price * quantity;
                    } else {
                        mergedData[name] = { quantity, price: price * quantity };
                    }
                    overallTotalPrice += price * quantity;
                    $('.overallTotal').text(formatCurrency(overallTotalPrice));
                });
            });

            const sortedProducts = Object.entries(mergedData)
                .map(([productName, productDetails]) => ({ productName, ...productDetails }))
                .sort((a, b) => b.quantity - a.quantity);

            for (const product of sortedProducts) {
                const newRow = tableBody.insertRow();

                const nameCell = newRow.insertCell(0);
                const priceCell = newRow.insertCell(1);
                const quantityCell = newRow.insertCell(2);

                nameCell.textContent = product.productName;
                priceCell.textContent = formatCurrency(product.price);
                quantityCell.textContent = product.quantity;
            }
        }

        function processSalesData(data) {
            const items = {};

            data.forEach(entry => {
                const itemsArray = JSON.parse(entry.st_description);
                itemsArray.forEach(item => {
                    if (!items[item.name]) {
                        items[item.name] = {
                            name: item.name,
                            totalQuantity: item.quantity
                        };
                    } else {
                        items[item.name].totalQuantity += item.quantity;
                    }
                });
            });

            const aggregatedItems = Object.values(items);

            aggregatedItems.sort((a, b) => b.totalQuantity - a.totalQuantity);
            // console.log("AggregatedItems: ", aggregatedItems);

            const topItems = aggregatedItems.slice(0, 5);
            return topItems;
        }

        //#endregion

        //#region Yearly Sales
        function renderLineChart(data) {
            const months = [
                'January', 'February', 'March', 'April', 'May', 'June',
                'July', 'August', 'September', 'October', 'November', 'December'
            ];

            const ctx = document.getElementById('salesChart').getContext('2d');

            const chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: months,
                    datasets: data
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            grid: {
                                display: false,
                            },
                            offset: true,
                        },
                        y: {
                            display: false,
                        },
                    }
                }
            });
        }

        function LoadYearly() {
            $.ajax({
                url: '/salesdetails/yearly',
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.msg === 'success') {
                        const branches = {};
                        let overallTotal = 0;
                        // console.log("yearly", data.data)
                        data.data.forEach(item => {
                            if (!branches[item.st_branch]) {
                                branches[item.st_branch] = Array(12).fill(0);
                            }
                            branches[item.st_branch][item.month - 1] += item.total;
                            overallTotal += item.total
                        });
                        // console.log(overallTotal)
                        // $('#annualearning').text(formatCurrency(overallTotal))
                        const datasets = [];
                        for (const branch in branches) {
                            let borderColor = "";
                            // console.log(branch)
                            if (branch === '0002') {
                                borderColor = 'rgb(178, 83, 62)';
                            } else if (branch === '0003') {
                                borderColor = 'rgb(24, 61, 61)';
                            } else if (branch === null) {
                                borderColor = 'rgb(37, 43, 72)';
                            }

                            const dataset = {
                                label: `Branch ${branch}`,
                                data: branches[branch],
                                borderColor: borderColor,
                                backgroundColor: 'rgba(0, 0, 0, 0)',
                                borderWidth: 2,
                                fill: false,
                                lineTension: 0.4
                            };
                            datasets.push(dataset);
                        }

                        // console.log(month);
                        // console.log(datasets)
                        let totalMonthlySale = 0;

                        datasets.forEach(item => {
                            if (item.data && item.data.length > month && typeof item.data[month] === 'number') {
                                totalMonthlySale += item.data[month];
                            }
                            // console.log(item.data[month])
                        });
                        // console.log("refined data:", datasets)
                        // $('#monthlyearning').text(formatCurrency(totalMonthlySale))
                        renderLineChart(datasets)
                    } else {
                        console.error(data.msg);
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
        //#endregion

    });
</script>