<!-- Modal -->
<div class="modal fade " id="posModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg text-white">
                <h5 class="modal-title" id="exampleModalLabel">POS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="card shadow">
                    <div class="card-header py-2 header-bg">
                        <h6 class="m-0 font-weight-bold table-title text-white">Update POS: </h6>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <label class="form-label">POS ID</label>
                                <input id="posidmodal" name="posidmodal" type="text" class="form-control"aria-label="" aria-describedby="basic-addon1" disabled>        
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label class="form-label">POS Name</label>
                                <input id="posnamemodal" name="posnamemodal" type="text" class="form-control" placeholder="Enter New POS name" aria-label="" aria-describedby="basic-addon1">        
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Serial</label>
                                <input id="serialmodal" name="serialmodal" type="text" class="form-control" placeholder="Enter New Serial" aria-label="" aria-describedby="basic-addon1">        
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label class="form-label">MIN</label>
                                <input id="minmodal" name="minmodal" type="text" class="form-control" placeholder="Enter New MIN" aria-label="" aria-describedby="basic-addon1">        
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">PTU</label>
                                <input id="ptumodal" name="ptumodal" type="text" class="form-control" placeholder="Enter New PTU" aria-label="" aria-describedby="basic-addon1">        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-outline-inventory" data-dismiss="modal">Close</button>
                <button type="button" id="updateBtn" class="btn btn-outline-inventory">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header py-3 header-bg">
                    <h6 class="m-0 font-weight-bold text-white">Point of Sale</h6>
                </div>
                <div class="card-body extend">
                    <div class="row mb-2">
                        <div class="col-md-6 mmb">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">POS ID</span>
                                </div>
                                <input id="posid" name="posid" type="text" class="form-control" placeholder="Enter POS ID" aria-label="posid" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">POS Name</span>
                                </div>
                                <input id="posname" name="posname" type="text" class="form-control" placeholder="Enter POS Name" aria-label="posname" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 mmb">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Serial</span>
                                </div>
                                <input class="form-control" placeholder="Enter Serial" name="serial" id="serial"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">MIN</span>
                                </div>
                                <input id="min" name="min" type="text" class="form-control" placeholder="Enter MIN" aria-label="min" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2 justify-content-center">
                        <div class="col-md-6 mmb">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">PTU</span>
                                </div>
                                <input id="ptu" name="ptu" type="text" class="form-control" placeholder="Enter PTU" aria-label="ptu" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-2 align">
                            <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-inventory shadow-sm w-100">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                ADD
                            </button>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>

<!-- DataTales Example -->
<div class="card shadow mb-4 table-size">
    <div class="card-header py-3 header-bg">
        <h6 class="m-0 font-weight-bold table-title text-white">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table table-bordered custom-mobile-table" id="pos-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th class = "col-1">POS ID</th>
                        <th class = "col-1">POS Name</th>
                        <th class = "col-1">Serial</th>
                        <th class = "col-1">MIN Info</th>
                        <th class = "col-1">PTU</th>
                        <th class = "col-1">Created by</th>
                        <th class = "col-1">Created date</th>
                        <th class = "col-1">Status</th>
                        <th class = "col-1">Action</th>               
                    </tr>
                </thead>
                    
                <tbody>
                </tbody>
            </table>
        </div>
        
    </div>
</div>