<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("header.ejs")%>

</head>

<body id="pCreated by-top">

    <!-- PCreated by Wrapper -->


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <%- include("./login/login.ejs")%>

            <!-- /.container-fluid -->
             
        </div>
            <!-- End of Main Content -->
    <!-- End of PCreated by Wrapper -->

    <!-- Scroll to Top Button-->
    <%- include("scripts.ejs") %>
    <%- include("./login/loginscripts.ejs") %>
</body>

</html>