<ul class="navbar-nav sidebar-bg sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
        <div class="sidebar-brand-icon">
            <img src="/images/img/logo(white).png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="sidebar-brand-text mx-3">Sales Inventory</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Masters</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
            data-parent="#accordionSidebar">
            <div class="bg-options py-2 collapse-inner rounded">
                <h6 class="collapse-header">Contents:</h6>
                <a class="collapse-item" href="/access">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <span>Access Type</span>
                </a>
                <a class="collapse-item" href="/position">
                    <i class="fa fa-street-view" aria-hidden="true"></i>
                    <span>Position Type</span>
                </a>
                <a class="collapse-item" href="/users">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Users</span>
                </a>
                <a class="collapse-item" href="/employees">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                    <span>Employees</span>
                </a>
                <a class="collapse-item" href="/products">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <span>Products</span>
                </a>
                <a class="collapse-item" href="/pos">
                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    <span>POS</span>
                </a>
                <a class="collapse-item" href="/branch">
                    <i class="fas fa-code-branch"></i>
                    <span>Branch</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTransactions"
            aria-expanded="true" aria-controls="collapseTransactions">
            <i class="fas fa-hand-holding-usd"></i>
            <span>Transanctions</span>
        </a>
        <div id="collapseTransactions" class="collapse" aria-labelledby="headingTransactions"
            data-parent="#accordionSidebar">
            <div class="bg-options py-2 collapse-inner rounded">
                <h6 class="collapse-header">Contents:</h6>
                <a class="collapse-item" href="/salesdetails">
                    <i class="fas fa-chart-line"></i>
                    <span>Sales Details</span>
                </a>
                <!-- <a class="collapse-item" href="/salesitems">
                    <i class="fas fa-cart-arrow-down"></i>
                    <span>Sales Items</span>
                </a> -->
                <a class="collapse-item" href="/shiftreports">
                    <i class="fas fa-clipboard-list"></i>
                    <span>Shifts Reports</span>
                </a>
                <a class="collapse-item" href="/cashreports">
                    <i class="fas fa-receipt"></i>
                    <span>Cash Reports</span>
                </a>
                <a class="collapse-item" href="/productprice">
                    <i class="fas fa-dollar-sign"></i>
                    <span>Product Price</span>
                </a>
                <a class="collapse-item" href="/pricechange">
                    <i class="fas fa-file-invoice"></i>
                    <span>Price Change</span>
                </a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>