:root{
  --clr-1: #272829;
  --clr-2: #8a8c96;
  --clr-3: #e4e4e4;
  --clr-4: #FFF6E0;

  --clr-font-white: #fff;
  --clr-font-black: #000;

  --clr-sb-bg: #9c2c3d;

  --clr-body-bg: #1a202b;

  --bg-clr: #6d1825;
  --clr-5: #313638;
  --clr-6: #d44d61;
  --clr-7: #F7322F;
  --clr-8: #992d3e;
  --clr-btn: #ff546e;
  --clr-9: #ffb2bd;
  --clr-10: #eaecf4;

  --ff-main: 'Barlow', sans-serif;
  --ff-side: 'Poppins', sans-serif;

  --clr-rs-1: #4C3A51;
  
}

body {
  margin: 0px;
  padding: .8rem .8rem 0rem .8rem;
  font-family: var(--ff-main) !important;
  background-color: var(--clr-body-bg) !important;
}

.align-img{
  text-align: center !important;
  vertical-align: middle!important;
}

.no-wrap{
  white-space: nowrap;
}

a {
  color: var(--clr-font-white);
}

.bmss-link{
  color: var(--clr-7) !important;
}

.align{
  text-align: center;
}

.single-row{
  width: 65% !important;
}

.employees-position{
  margin-left: 5rem;
}

/* --- LOG IN PAGE ---*/
.login-height{
  height: 100%;
}

.custom-login-container{
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 98vh;
  position: relative;
  z-index: 1;
}

.custom-login-container .bg{
  background-image: url('/images/img/Black-And-Red-HD-Wallpapers.jpg');
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .35;
  width: 100%;
  height: 100%;
  border-radius: 0.875rem;
}

/* --- SIDEBAR --- */

.collapse-item.active {
  color: var(--clr-8) !important;
  font-weight: 700;
}

.sidebar-bg{
  background-color: var(--clr-sb-bg) !important;
  background-size: cover;
}

.sidebar{
  min-height: 98vh !important;
  border-radius: 0.375rem;
}

.sidebar .nav-item .collapse{
  z-index: 2 !important;
}

.bg-options{
  background-color: var(--clr-font-white);
}

/* --- TOPBAR --- */
.topbar-bg{
  background-color: var(--clr-sb-bg);
  padding: 10px;
  border-radius: 0.375rem;
}

.topbar{
  margin: 0px 0px 10px 10px;
}

#content-wrapper{
  background-color: transparent !important;
}

/* CONTAINER STYLE*/

.container-fluid{
  padding-left: 0.75rem !important; 
  padding-right: 0rem !important;
}

/* BUTTONS */
.sis-btn-color{
  color: var(--clr-3) !important;
  background-color: var(--clr-btn) !important;
  border-color: var(--clr-btn) !important;
}

.topbar-btn-clr{
  font-weight: 400 !important;
  color: var(--clr-btn) !important;
  text-decoration: none;
}

.btn:focus{
  box-shadow: 0 0 0 0.2rem rgb(223 78 78 / 25%) !important;
}

.btn-outline-inventory{
  color: var(--clr-6) !important;
  border-color: var(--clr-6) !important;
}

.btn-outline-inventory:hover{
  color: var(--clr-font-white) !important;
  background-color: var(--clr-6);
  border-color: var(--clr-6);
}

.btn-outline-inventory-lighter{
  color: var(--clr-7) !important;
  border-color: var(--clr-7) !important;
}

.btn-outline-inventory-lighter:hover{
  color: var(--clr-font-white) !important;
  background-color: var(--clr-6);
  border-color: var(--clr-6);
}

/* CARD STYLE*/

.header-bg{
  background-color: var(--clr-sb-bg) !important;
  border-color: var(--clr-sb-bg) !important;
}

.card{
  border: none !important;
}

.table-size{
  height: 625px !important;
}

/* Text STYLE */

.text-white{
  color: var(--clr-font-white) !important;
}

.responsive-wrap{
  white-space: nowrap;
}

/* TABLES STYLE */
.date-width{
  width: 300px !important;
}

th{
  text-align: center !important;
  white-space: nowrap !important;
  color: white;
}

td{
  text-align: center !important;
  vertical-align: middle!important;
}


.tr-hover:hover{
  background-color: var(--clr-3);
}

.scrollable-table-container {
  max-height: 480px !important; 
  overflow-y: auto !important;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: var(--clr-2);
  z-index: 1;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
    .responsive-wrap{
      white-space: pre-wrap !important;
    }
  /* --IMPORTANT-- */
    .bmss-link{
      color: var(--clr-9) !important;
    }

    .custom-mobile-table thead{
      display: none;
    }

    .custom-mobile-table, .custom-mobile-table tbody, .custom-mobile-table tr, .custom-mobile-table td{
      display: block;
      width: 100%;
    }
    .custom-mobile-table tr{
      margin-bottom:15px;
    }
    .custom-mobile-table .custom-mobile-align{
      padding-left: 50%;
      position: relative;
    }
    .custom-mobile-table .custom-mobile-align::before{
      content: attr(data-label)": ";
      position: absolute;
      left:0;
      width: 50%;
      padding-left:15px;
      font-size:15px;
      font-weight: bold;
      text-align: left;
    }

    .custom-mobile-table tbody tr:nth-child(even){
        background-color: var(--clr-rs-1) !important;
        color: var(--clr-font-white);
    }
  /* --IMPORTANT-- */

    .bg-options{
      background-color: var(--clr-sb-bg) !important;
    }

    .collapse-item{
      color: var(--clr-font-white) !important;
    }
    .collapse-item:hover{
      color: var(--clr-sb-bg) !important;
    }

    .collapse-item.active {
      color: var(--clr-sb-bg) !important;
      font-weight: 300 !important;
      background-color: var(--clr-10) !important;
    }

    .align{
      text-align: right !important;
    }

    .custom-mobile-responsive{
      margin-left: 15px !important;
      margin-right: 15px !important;
    }

    .custom-login-container{
      margin-left: .8rem !important;
    }
    
    .mmb{
      margin-bottom: 10px;
    }
    
    body{
      padding: .8rem .8rem 0rem 0rem;
    }
    
    .sidebar{
      border-radius: 0 0.375rem 0.375rem 0;
    }
}

@media (max-width: 990px) {
  .display-custom{
    display: none !important;
  }
}

/* CUSTOM DROPDOWN */
.custom-input {
  width: 100%;
}

.categoryDropdown{
  margin-left: 5.1rem !important;
}

.custom-dropdown {
  display: none;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: 36.7vw;
  z-index: 1000;
  border-radius: 0.375rem;
}

.dropdown-option {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.daterangepicker th.month{
  color: black !important;
}

/* */
.label-width{
  width: 4rem;
}

.label-width-2{
  width: 7rem;
}