@import url(customdropdown.css);

:root{
  --clr-1: #272829;
  --clr-2: #AD877B;
  --clr-3: #e4e4e4;
  --clr-4: #FFF6E0;

  --clr-font-white: #fff;
  --clr-font-color: #1F1F1F;
  --clr-font: white;
  --clr-icons: #E8E8E8;
  --clr-cardheader-bg: #ffffff;
  --clr-tableheader-bg: #584c4c;
  --clr-sidebar-bg: rgb(43, 62, 66);

  --clr-body-bg: rgb(242, 242, 242);

  --bg-clr: #6d1825;
  --clr-5: #313638;
  --clr-6: #34B1AA;
  --clr-7: #d82a27;
  --clr-8: #992d3e;
  --clr-btn: #34B1AA;
  --clr-9: #ffb2bd;
  --clr-10: #ffffff;
  --clr-11: #445069;

  --ff-main: 'Open Sans', sans-serif;
  --ff-side: 'Manrope', sans-serif;
  --clr-rs-1: #4C3A51;
  
  --fw-700: '700';
}
.form-control:disabled{
  background-color: white !important;
  border: none !important;
}

/* Font Styling */

.custom-mt{
  margin-top: 10px !important;
}

/* Animation */
.toggle-view {
  display: none;
}

.toggle-view {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
}

.custom-checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px; 
  margin-right: 10px; 
}


.product-image{
  border: solid 1px var(--clr-5);
  border-radius: 0.275rem;
}

.img-thumbnail{
  height: 200px !important;
  width: 200px !important;
}

.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
  color: var(--clr-font) !important;
}

.icon-color{
  color: var(--clr-icons) !important;
}

.yearly-chart{
  height: 275px;
}

.dashboard-size{
  height: 453px;
}

.padding-fix{
  padding-right: 0 !important;
}

.custom-bg{
  background-color: var(--clr-sidebar-bg);
}

.scrollable-dashboard-table-container {
  max-height: 310px !important;
  overflow-y: auto !important;
}

/* -- Modal --*/
.modal{
  margin-top: 50px !important;
}

.modal-lg {
  max-width: 100%; /* Adjust this value to your desired width */
}

.modal-dialog{
  max-width: 1000px !important;
}

.custom-modal-body{
  margin: 1rem;
}

body {
  margin: 0px;
  font-family: var(--ff-side) !important;
  background-color: var(--clr-body-bg) !important;
}

.align-img{
  text-align: center !important;
  vertical-align: middle!important;
}

.align-middle{
  vertical-align: middle!important;
}

.no-wrap{
  white-space: nowrap;
}

a {
  color: var(--clr-font-white);
}

.bmss-link{
  color: var(--clr-7) !important;
  cursor: pointer;
}

.align{
  text-align: center;
}

.single-row{
  width: 65% !important;
}

.employees-position{
  margin-left: 5rem;
}

/* --- LOG IN PAGE ---*/
.login-height{
  height: 100%;
}

.custom-login-container{
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 98vh;
  position: relative;
  z-index: 1;
}

.custom-login-container .bg{
  background-image: url('/images/img/Black-And-Red-HD-Wallpapers.jpg');
  position: absolute;
  z-index: -1;
  top: 14px;
  bottom: 0;
  left: 13px;
  right: 0;
  width: 99%;
  height: 98%;
  border-radius: 0.875rem !important;
}

/* --- SIDEBAR --- */

.collapse-item.active {
  background-color: var(--clr-6) !important;
  color: var(--clr-font-white) !important;
}

.sidebar-bg{
  background: linear-gradient(to bottom, #2e4044,  #34B1AA) !important;
  background-size: cover;
}

.sidebar{
  min-height: 100vh;
}

.sidebar .nav-item .collapse{
  z-index: 2 !important;
}

.bg-options{
  background-color: var(--clr-font-white);
}

/* --- TOPBAR --- */
.topbar-bg{
  background-color: var(--clr-cardheader-bg);
  padding: 10px;
  border-radius: 0.275rem;
}

.topbar{
  margin: 0px 10px 10px 10px;
  border: 1px solid #e3e6f0;
}

#content-wrapper{
  background-color: transparent !important;
}

/* CONTAINER STYLE*/

.container-fluid{
  padding-left: 0.75rem !important; 
  padding-right: 10px !important;
}

/* BUTTONS */
.sis-btn-color{
  color: var(--clr-3) !important;
  background-color: var(--clr-btn) !important;
  border-color: var(--clr-btn) !important;
}

.topbar-btn-clr{
  font-weight: 400 !important;
  color: var(--clr-btn) !important;
  text-decoration: none;
}

.btn:focus{
  box-shadow: 0 0 0 0.2rem rgb(52, 177, 170, 0.25) !important;
}

.progress-bar{
  background-color: var(--clr-6) !important;
}

.btn-outline-inventory{
  color: var(--clr-6) !important;
  border-color: var(--clr-6) !important;
}

.btn-outline-inventory:hover{
  color: var(--clr-font-white) !important;
  background-color: var(--clr-6);
  border-color: var(--clr-6);
}

.btn-outline-inventory-lighter{
  color: var(--clr-6) !important;
  border-color: var(--clr-6) !important;
}

.btn-outline-inventory-lighter:hover{
  color: var(--clr-font-white) !important;
  background-color: var(--clr-6);
  border-color: var(--clr-6);
}

/* CARD STYLE*/
.card-title{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: var(--clr-font-color);
  margin-bottom: 0 !important;
}

.card-header{
  background-color: transparent !important;
  border: none !important;
}


.card{
  border-radius: 0.275rem !important;
}

.table-size-lg{
  height: 825px !important;
}

.table-size{
  height: 625px !important;
}

.table-size-sm{
  height: 225px !important;
}

/* Text STYLE */

.text-white{
  color: var(--clr-font-white) !important;
}

.text-black{
  color: var(--clr-font-black) !important;
}

.text-asvesti{
  color: var(--clr-font) !important;
}

.bmss-link-trigger {
  cursor: pointer;
}

.responsive-wrap{
  white-space: nowrap;
}

/* TABLES STYLE */

/* .table-bordered td, .table-bordered th {
  border: 1px solid var(--clr-btn) !important;
} */

.date-width{
  width: 300px !important;
}

th{
  text-align: center !important;
  white-space: nowrap !important;
  color: var(--clr-font-color);
}

td{
  text-align: center !important;
  vertical-align: middle!important;
}

.tr-hover:hover{
  background-color: var(--clr-3);
}

.scrollable-table-container-lg{
  max-height: 670px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container {
  max-height: 480px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container-sm{
  max-height: 310px !important; 
  overflow-y: auto !important;
}

.scrollable-table-container-xsm{
  max-height: 210px !important; 
  overflow-y: auto !important;
}

.table-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.custom-img{
  width: 65px;
  height: 65px;
}

/* MEDIA QUERIES */
@media (min-width: 768px){
  .sidebar.toggled {
    transition: width 0.3s;
  }
  .sidebar {
    transition: width 0.3s;
  }
}

@media (max-width: 767px) {
  .custom-mt{
    margin-top: 0px !important;
  }

  .sidebar.toggled {
    transition: width 0.3s;
  }
  .sidebar {
    transition: width 0.3s;
  }

  .no-wrap{
    white-space: wrap;
  }
  
  .topbar-bg{
    background: linear-gradient(to right, #2e4044,  #34B1AA) !important;
  }

  .container-fluid{
    padding-right: 0 !important;
  }

  .topbar{
    margin: 0px 0px 10px 10px;
  }

  .mobile-hidden{
    display: none;
  }

  .modal{
    margin-top: 0px !important;
  }

  .responsive-wrap{
    white-space: pre-wrap !important;
  }

  /* --IMPORTANT-- */
  .bmss-link{
    color: var(--clr-9) !important;
  }

  .custom-mobile-table thead{
    display: none;
  }

  .custom-mobile-table, .custom-mobile-table tbody, .custom-mobile-table tr, .custom-mobile-table td{
    display: block;
    width: 100%;
  }
  .custom-mobile-table tr{
    margin-bottom:15px;
  }
  .custom-mobile-table .custom-mobile-align{
    padding-left: 50%;
    position: relative;
  }
  .custom-mobile-table .custom-mobile-align::before{
    content: attr(data-label)": ";
    position: absolute;
    left:0;
    width: 50%;
    padding-left:15px;
    font-size:15px;
    font-weight: bold;
    text-align: left;
  }

  .custom-mobile-table tbody tr:nth-child(even){
      background-color: var(--clr-11) !important;
      color: var(--clr-font-white);
  }
  /* --IMPORTANT-- */

    .bg-options{
      background-color: var(--clr-sidebar-bg) !important;
    }

    .collapse-item{
      color: var(--clr-font-white) !important;
    }
    .collapse-item:hover{
      color: var(--clr-sidebar-bg) !important;
    }

    .collapse-item.active {
      color: var(--clr-sidebar-bg) !important;
      font-weight: 300 !important;
      background-color: var(--clr-10) !important;
    }

    .align{
      text-align: right !important;
    }

    .custom-mobile-responsive{
      margin-left: 15px !important;
      margin-right: 15px !important;
    }

    .custom-login-container{
      margin-left: .8rem !important;
    }
    
    .mmb{
      margin-bottom: 10px;
    }
    
    body{
      padding: .8rem .8rem 0rem 0rem;
    }
    
    .sidebar{
      border-radius: 0 0.275rem 0.275rem 0;
    }
}

@media (max-width: 990px) {
  .display-custom{
    display: none !important;
  }
}

/* CUSTOM DROPDOWN */
.custom-input {
  width: 100%;
}

.categoryDropdown{
  margin-left: 5.1rem !important;
}

.hidden{
  display: none;
}

.custom-dropdown {
  display: none;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 100px;
  overflow-y: auto;
  position: absolute;
  background-color: white;
  width: 36.7vw;
  z-index: 1000;
  border-radius: 0.275rem;
}

.dropdown-option {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.daterangepicker th.month{
  color: black !important;
}

/* */
.label-width{
  width: 4rem;
}

.label-width-2{
  width: 7rem;
}

/* Animation for appearing */
@keyframes appear {
    from {
        opacity: 0;
        max-height: 0;
    }
    to {
        opacity: 1;
        max-height: 500px; /* Adjust height as needed */
    }
}

/* Animation for disappearing */
@keyframes disappear {
    from {
        opacity: 1;
        max-height: 500px; /* Adjust height as needed */
    }
    to {
        opacity: 0;
        max-height: 0;
    }
}

/* Apply animations to fields */
.hidden-field {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  display: block;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.appear {
    animation-name: appear;
}
.disappear {
    animation-name: disappear;
}

.add{
  color: rgb(1, 221, 1) !important;
}

.deduct{
  color: red !important;
}

.loading-border {
  border-bottom: 2px solid green;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px; 
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-6); 
  border-radius: 6px; 
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: var(--clr-3); 
}


::-webkit-scrollbar-thumb:hover {
  background: var(--clr-6); 
}

.btn-content{
  z-index: 2;
}

button.ani-btn{
  border-radius: 0.275rem;
}