.cardbody-size-sales-details {
    height: 510px;
}

.scroll-cardbody-size-sales-details {
    height: 390px !important;
    overflow-y: auto !important;
}

.cardbody-size-580 {
    height: 590px;
}

.scroll-cardbody-size-580 {
    height: 430px !important;
    overflow-y: auto !important;
}

.cardbody-size-710{
    height: 760px;
}

.scroll-cardbody-size-710 {
    height: 600px !important;
    overflow-y: auto !important;
}