<script>
    $(document).ready(function () {
        let vendorid = "";
        let status = "";

        LoadTable();

        $('#vendor-dataTable tbody').on('click', 'tr', function () {
        var dataRow = [];
        $(this).closest('tr').find('td').each(function () {
            dataRow.push($(this).text());
        });
        console.log(dataRow);
        vendorid = dataRow[0];
        status = dataRow[8];
        })

        $(document).on('click', '#editBtn', function(){
            $('#vendoridmodal').val(vendorid);
            $('#vendorModal').modal('show');
        })

        $(document).on('click', '#addBtn', function () {
            let vendorname = $('#vendorname').val();
            let contactphone = $('#contactphone').val();
            let contactemail = $('#contactemail').val();
            let contactperson = $('#contactperson').val();
            let address = $('#address').val();
            var message = "";
 
            if (vendorname == '') { message += 'Vendor Name ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/vendors/save',
                    data: {
                        vendorname: vendorname,
                        contactphone: contactphone,
                        contactemail: contactemail,
                        contactperson: contactperson,
                        address: address,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            $('#vendorname').val('');
                            $('#contactphone').val('');
                            $('#contactemail').val('');
                            $('#contactperson').val('');
                            $('#address').val('');
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            $('#vendorname').val('');
                            warning('Exist', `${vendorname} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        $(document).on('click', '#activeBtn', function(){
            console.log(vendorid);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/vendors/status',
                    data: {
                        status: status,
                        vendorid: vendorid,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${vendorid} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        $(document).on('click', '#inactiveBtn', function(){
            console.log(vendorid);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/vendors/status',
                    data: {
                        status: status,
                        vendorid: vendorid,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${vendorid} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        function populateVendorTable(data) {
            const tableBody = $('#vendor-dataTable tbody');
            tableBody.empty();

            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 6,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    let action = '';
                    if (item.status === 'ACTIVE') {
                        action = `
                            <button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                            <button id="inactiveBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>`;
                    } else if (item.status === 'INACTIVE') {
                        action = `
                            <button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                            <button id="activeBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>`;
                    }

                    const tr = $('<tr>').append(
                        $('<td>', { text: item.vendorid, 'data-label': 'Vender ID', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.vendorname, 'data-label': 'Vendor Name', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.contactname, 'data-label': 'Contact Person', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.contactemail, 'data-label': 'Email', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.contactphone, 'data-label': 'Contact Number', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.address, 'data-label': 'Address', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.status, 'data-label': 'Status', class: 'custom-mobile-align' }),
                        $('<td>', { html: action, 'data-label': 'Action' })
                    );

                    tableBody.append(tr);
                });
            }
        }

        function LoadTable() {
            $.ajax({
                url: '/vendors/load',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    if (data.msg === 'success') {
                        populateVendorTable(data.data);
                    } else {
                        console.error(data.msg);
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });

        }

        $(document).on('click', '#updateBtn', function () {
            let vendorname = $('#vendornamemodal').val();
            let vendorid = $('#vendoridmodal').val();
            let contactperson = $('#contactpersonmodal').val();
            let contactemail = $('#contactemailmodal').val();
            let contactphone = $('#contactphonemodal').val();
            let address = $('#addressmodal').val();

            var message = "";

            if (vendorname == '' && contactperson == '' && contactemail == '' && contactphone == '' && address == ''){
                message += 'Fill up atleast 1 input field before updating'
            }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/vendors/edit',
                    data: {
                        vendorname: vendorname,
                        vendorid: vendorid,
                        contactperson: contactperson,
                        contactemail: contactemail,
                        contactphone: contactphone,
                        address: address,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            $('#vendorModal').modal('hide');
                            $('#vendornamemodal').val('');
                            $('#contactpersonmodal').val('');
                            $('#contactemailmodal').val('');
                            $('#contactphonemodal').val('');
                            $('#addressmodal').val('');
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'duplicate') {
                            warning('Duplicate', `${vendorname} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        function filterTableRows() {
            const searchQuery = $('#search-input').val().trim().toLowerCase();
            let foundMatches = false;

            $('#no-match-row').remove();

            $('#vendor-dataTable tbody tr').each(function() {
                const rowData = $(this).text().toLowerCase();
                if (rowData.includes(searchQuery)) {
                    $(this).show();
                    foundMatches = true;
                } else {
                    $(this).hide();
                }
            });

            if (!foundMatches) {
                const noMatchRow = $('<tr>').append(
                    $('<td>', {
                        colspan: 9,
                        class: 'text-center',
                        text: 'No Data Matched'
                    })
                );
                $('#vendor-dataTable tbody').append(noMatchRow);
                noMatchRow.attr('id', 'no-match-row');
            }
        }

        $('#search-input').on('input', filterTableRows);

        const toggleButton = document.getElementById("toggleButton");

        const toggleView = document.querySelector(".toggle-view");

        toggleButton.addEventListener("click", function() {
            if (toggleView.style.display === "none" || toggleView.style.display === "") {
                toggleView.style.display = "block";
                setTimeout(() => {
                    toggleView.style.opacity = "1";
                    toggleView.style.height = "auto";
                }, 10);
                toggleButton.innerHTML = '<i class="fas fa-chevron-up"></i>';
            } else {
                toggleView.style.opacity = "0";
                toggleView.style.height = "0";
                setTimeout(() => {
                    toggleView.style.display = "none";
                }, 500); 
                toggleButton.innerHTML = '<i class="fas fa-chevron-right"></i>';
            }
        });
    })
</script>