<script>
    $(document).ready(function () {
        let vendorid = "";
        let status = "";

        
        const loader = `  
            <tr id="loading-state">
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
            </tr>`;

        const tbody = $('#vendor-dataTable tbody');
        for (let i = 0; i < 7; i++) {
            tbody.append(loader);
        }

        LoadTable();

        $('#vendor-dataTable tbody').on('click', 'tr', function () {
        var dataRow = [];
        $(this).closest('tr').find('td').each(function () {
            dataRow.push($(this).text());
        });
        console.log(dataRow);
        vendorid = dataRow[0];
        status = dataRow[8];
        })

        $(document).on('click', '#editBtn', function(){
            $('#vendoridmodal').val(vendorid);
            $('#vendorModal').modal('show');
        })

        $(document).on('click', '#addBtn', function () {
            let vendorname = $('#vendorname').val();
            let contactphone = $('#contactphone').val();
            let contactemail = $('#contactemail').val();
            let contactperson = $('#contactperson').val();
            let address = $('#address').val();
            var message = "";
 
            if (vendorname == '') { message += 'Vendor Name ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/vendors/save',
                    data: {
                        vendorname: vendorname,
                        contactphone: contactphone,
                        contactemail: contactemail,
                        contactperson: contactperson,
                        address: address,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            $('#vendorname').val('');
                            $('#contactphone').val('');
                            $('#contactemail').val('');
                            $('#contactperson').val('');
                            $('#address').val('');
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'exist') {
                            $('#vendorname').val('');
                            warning('Exist', `${vendorname} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        $(document).on('click', '#activeBtn', function(){
            console.log(vendorid);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/vendors/status',
                    data: {
                        status: status,
                        vendorid: vendorid,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${vendorid} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        $(document).on('click', '#inactiveBtn', function(){
            console.log(vendorid);
            console.log(status);
            $.ajax({
                    type: 'POST',
                    url: '/vendors/status',
                    data: {
                        status: status,
                        vendorid: vendorid,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'notexist') {
                            warning(`${vendorid} does not exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
        });

        function populateVendorTable(data) {
            const tableBody = $('#vendor-dataTable tbody');
            tableBody.empty();

            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 10,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    let action = '';
                    if (item.status === 'ACTIVE') {
                        action = `
                        <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#accessModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                        <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>`;
                    } else if (item.status === 'INACTIVE') {
                        action = `
                        <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#accessModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                        <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>`;
                    }
                    const statusBackground = getStatusBackground(item.status);
                    const containerBackground = getStatusContainerBackground(item.status);
                    
                    const tr = $('<tr>').append(
                        $('<td>', { text: item.vendorid, 'data-label': 'Vender ID', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.vendorname, 'data-label': 'Vendor Name', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.contactname, 'data-label': 'Contact Person', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.contactemail, 'data-label': 'Email', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.contactphone, 'data-label': 'Contact Number', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.address, 'data-label': 'Address', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
                        $('<td>', { class: 'custom-mobile-align', 'data-label': 'Status' }).append(
                            $('<div>', { class: containerBackground }).append(
                            $('<span>', { text: item.status, class: statusBackground })
                            )
                        ),
                        $('<td>', { html: action, 'data-label': 'Action' })
                    );

                    tableBody.append(tr);
                });
            }
        }

        function LoadTable() {
            $(".progress").hide();
            $(".progress").slideDown();

            $.ajax({
                url: '/vendors/load',
                method: 'GET',
                dataType: 'json',
                xhrFields: {
                    onprogress: function (e) {
                        if (e.lengthComputable) {
                            var percentComplete = (e.loaded / e.total) * 100;
                            $(".progress-bar").css("width", percentComplete + "%");
                        }
                    }
                },
                success: function (data) {
                    setTimeout(function () {
                        $(".progress").slideUp(function () {
                            if (data.msg === 'success') {
                                populateVendorTable(data.data);
                            } else {
                                console.error(data.msg);
                            }
                        });
                    }, 1000); 
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        $(document).on('click', '#updateBtn', function () {
            let vendorname = $('#vendornamemodal').val();
            let vendorid = $('#vendoridmodal').val();
            let contactperson = $('#contactpersonmodal').val();
            let contactemail = $('#contactemailmodal').val();
            let contactphone = $('#contactphonemodal').val();
            let address = $('#addressmodal').val();

            var message = "";

            if (vendorname == '' && contactperson == '' && contactemail == '' && contactphone == '' && address == ''){
                message += 'Fill up atleast 1 input field before updating'
            }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/vendors/edit',
                    data: {
                        vendorname: vendorname,
                        vendorid: vendorid,
                        contactperson: contactperson,
                        contactemail: contactemail,
                        contactphone: contactphone,
                        address: address,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            LoadTable();
                            $('#vendorModal').modal('hide');
                            $('#vendornamemodal').val('');
                            $('#contactpersonmodal').val('');
                            $('#contactemailmodal').val('');
                            $('#contactphonemodal').val('');
                            $('#addressmodal').val('');
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'duplicate') {
                            warning('Duplicate', `${vendorname} already exist!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        function filterTableRows() {
            const searchQuery = $('#search-input').val().trim().toLowerCase();
            let foundMatches = false;

            $('#no-match-row').remove();

            $('#vendor-dataTable tbody tr').each(function() {
                const rowData = $(this).text().toLowerCase();
                if (rowData.includes(searchQuery)) {
                    $(this).show();
                    foundMatches = true;
                } else {
                    $(this).hide();
                }
            });

            if (!foundMatches) {
                const noMatchRow = $('<tr>').append(
                    $('<td>', {
                        colspan: 9,
                        class: 'text-center',
                        text: 'No Data Matched'
                    })
                );
                $('#vendor-dataTable tbody').append(noMatchRow);
                noMatchRow.attr('id', 'no-match-row');
            }
        }

        $('#search-input').on('input', filterTableRows);

    })
</script>