
<div class="container-fluid">
    <div class="card shadow mb-4 table-size">
        <div class="card-header py-3 header-bg">
            <h6 class="m-0 font-weight-bold table-title text-white">Price Change</h6>
        </div>
    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table table-bordered" id="position-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th class = "col-1">Price Change ID</th>
                        <th class = "col-1">Product Code</th>
                        <th class = "col-1">Price</th>
                        <th class = "col-1">Status</th>
                        <th class = "col-1">Created By</th>
                        <th class = "col-1">Created Date</th>          
                    </tr>
                </thead>
                    
                <tbody>
                    <tr class="tr-hover">
                        <td>1-0000001</td>
                        <td>1009</td>
                        <td>1000</td>                                        
                        <td>ACTIVE</td>
                        <td>Ralph Lauren Santos</td>                                           
                        <td>07/08/2023</td>                         
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>