<div class="container-fluid">
    <div class="toggle-view">
        <div class="row mb-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header header-bg">
                        <div class="row">
                            <div class="col">
                                <h6 class="m-0 font-weight-bold mt-2">Add Products Quantity</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body extend">
                        <div class="table-responsive table-size-package">
                            <table class="table custom-mobile-table" id="product-datatable"
                                width="100%" cellspacing="10">
                                <thead class="table-header">
                                    <tr>
                                        <th class="col-3">Product Name</th>
                                        <th class="col-2">Product ID</th>
                                        <th class="col-3">Branch Name</th>
                                        <th class="col-2">Branch ID</th>
                                        <th class="col-2">Quantity</th>
                                        <th class="col-1"></th>
                                    </tr> 
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td data-label="Product Name" class="custom-mobile-align">
                                            <div class="col">
                                                <div class="input-group">
                                                    <input autocomplete="off" class="form-control text-center custom-input" placeholder="Select product" name="product"
                                                        id="product" />
                                                    <input autocomplete="off" type="hidden" id="productID" name="productID" />
                                                </div>
                                                <div class="custom-dropdown cdw-tableoption" id="productDropdown"></div>
                                            </div>
                                        </td>
                                        <td data-label="product ID" class="custom-mobile-align product-id productid"></td>
                                        <td data-label="Branch ID" class="custom-mobile-align">
                                            <div class="col">
                                                <div class="input-group">
                                                    <input autocomplete="off" class="form-control text-center custom-input" placeholder="Select branch" name="branch"
                                                        id="branch" disabled/>
                                                    <input autocomplete="off" type="hidden" id="branchID" name="branchID" />
                                                </div>
                                                <div class="custom-dropdown cdw-tableoption" id="branchDropdown"></div>
                                            </div>
                                        </td>
                                        <td data-label="Branch ID" class="custom-mobile-align branch-id branchid"></td>
                                        <td data-label="Quantity" class="custom-mobile-align">
                                            <div class="row justify-content-center">
                                                <input id="quantity" name="quantity" type="number" class="form-control" placeholder="0.00" value="" maxlength="8">
                                            </div>                                                    
                                        </td>
                                        <td data-label="Action" class="custom-mobile-align" id="actionBtn"></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
    
                        <div class="row justify-content-end mt-1">
                            <div class="col-2">
                                <button type="button" id="submitBtn" class="btn btn-outline-inventory">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card shadow mb-4 table-size">
        <div class="progress progress-sm mb-2">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>
        <div class="card-header py-3 header-bg">
            <div class="row">
                <div class="col-md-4">
                    <div class="row mb-2">
                        <button id="toggleButton" name="toggleButton"
                            class=" ml-3 btn btn-circle btn-outline-inventory ">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <h6 class="mt-2 ml-3 font-weight-bold table-title">Production Inventory</h6>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row d-flex justify-content-end">
                        <div class="col">
                            <div class="customdropdown">
                                <div class="select selectcategory">
                                    <span id="selectedcategory">Filter by Category</span>
                                    <i class="fa fa-chevron-left"></i>
                                </div>
                                <input type="hidden" name="categoryid" id="categoryid">
                                <ul class="customdropdown-menu categorylist">
                                </ul>
                            </div>
                        </div>
                        <% if (accesstype === "Owner") { %>
                            <div class="col">
                                <div class="customdropdown">
                                    <div class="select selectbranch">
                                        <span id="selectedbranch">Filter by Branch</span>
                                        <i class="fa fa-chevron-left"></i>
                                    </div>
                                    <input type="hidden" name="branchid" id="branchid">
                                    <ul class="customdropdown-menu branchlist">
                                    </ul>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="col" hidden>
                                <div class="customdropdown">
                                    <div class="select selectbranch">
                                        <span id="selectedbranch">Filter by Branch</span>
                                        <i class="fa fa-chevron-left"></i>
                                    </div>
                                    <input type="hidden" name="branchid" id="branchid">
                                    <ul class="customdropdown-menu branchlist">
                                    </ul>
                                </div>
                            </div>
                        <% } %>
                        <div class="col-5">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small"
                                    placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"
                                    id="search-input">
                                <div class="input-group-append">
                                    <button class="btn sis-btn-color" type="button" id="search-button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="row d-flex justify-content-center">
                                <button class="btn btn-outline-inventory ml-2" id="convertopdf">
                                    <i class="fas fa-download fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive scrollable-table-container">
                <table class="table table-bordered custom-mobile-table" id="productinventory-datatable" width="100%"
                    cellspacing="10">
                    <thead class="table-header">
                        <tr>
                            <th>Inventory ID</th>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Branch ID</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>