<!-- Modal -->
<div class="modal fade" id="accessModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg">
                <h5 class="modal-title" id="exampleModalLabel">Access</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="card ">
                    <div class="card-header py-2 header-bg">
                        <h6 class="m-0 font-weight-bold table-title">Update Access: </h6>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-md-6">
                                <label class="form-label" for="accesscode">Access Code</label>
                                <input autocomplete="off" id="accesscode" name="accesscode" type="text" class="form-control"aria-label="fullname" aria-describedby="basic-addon1" disabled>        
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="currentAccessName">Current Access Name</label>
                                <input autocomplete="off" id="currentAccessName" name="currentAccessName" type="text" class="form-control" placeholder="Enter new Access name" aria-label="fullname" aria-describedby="basic-addon1" disabled>        
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <label class="form-label" for="accessnamemodal">Access Name</label>
                                <input autocomplete="off" id="accessnamemodal" name="accessnamemodal" type="text" class="form-control" placeholder="Enter new Access name" aria-label="fullname" aria-describedby="basic-addon1">        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-inventory" id="closeBtn" data-dismiss="modal">Close</button>
                <button type="button" id="updateBtn" class="btn btn-outline-inventory">
                    <span id="btn-label-modal">Update</span>
                    <span id="btnSpinner-modal" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card shadow">
                <div class="card-header py-3 header-bg">
                    <h6 class="m-0 font-weight-bold">Access Type</h6>
                </div>
                <div class="card-body extend">
                    <div class="row">
                        <div class="col-md-8 mb-1">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Access:</span>
                                </div>
                                <input autocomplete="off" id="accessname" name="accessname" type="text" class="form-control" placeholder="Enter Access Name" aria-label="accessname" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-3 md-text-right">
                            <button id="addBtn" name="addBtn" class="btn btn-outline-inventory w-50">
                                <span id="btnIcon"><i class="fa fa-plus" aria-hidden="true"></i> Add</span>
                                <span id="btnSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>                    
                </div>      
            </div>
        </div>
    </div>

    <div class="card mb-4 cardbody-size-580 shadow">
        <div id="progress" class="progress progress-sm mb-2">
            <div class="progress-bar" role="progressbar" style="width: 0%"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-header py-3 header-bg">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="mt-2 font-weight-bold table-title">Access Table</h6>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input autocomplete="off" type="text" class="form-control bg-light small"
                            placeholder="Search for..." aria-label="Search"
                            aria-describedby="basic-addon2" id="search-input">
                        <div class="input-group-append">
                            <button class="btn sis-btn-color" type="button" id="search-button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive scroll-cardbody-size-580 border">
                <table class="table table-bordered custom-mobile-table" id="access-table" width="100%" cellspacing="10">
                    <thead class="table-header">
                        <tr>
                            <th>ID</th>
                            <th>Access Name</th>
                            <th>Created by</th>
                            <th>Created date</th>
                            <th class = "col-1">Status</th>
                            <th class = "col-1"></th>               
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table> 
            </div>
        </div>
    </div>