
<div class="container-fluid">
    <div class="card shadow mb-4 table-size">
        <div class="card-header py-3 header-bg">
            <h6 class="m-0 font-weight-bold table-title text-white">Shift Reports</h6>
        </div>
    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table table-bordered custom-mobile-table" id="shift-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th>Date</th>
                        <th>POS</th>
                        <th>Shift</th>
                        <th>Cashier</th>
                        <th>Floating</th>
                        <th>Cash Float</th>
                        <th>Sales Beginning</th>
                        <th>Sales Ending</th>   
                        <th>Total Sales</th>   
                        <th>Receipt Beginning</th>   
                        <th>Receipt Ending</th>    
                        <th>Approved By</th>   
                        <th>Approved Date</th>   
                        <th>Status</th>   
                        <th>Action</th>          
                    </tr>
                </thead>
                    
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>