<script>

    $(document).ready(function () {
        let base64String = "";
        let base64Stringmodal = "";
        let branchid = "";
        let status = "";

        const loader = `  
            <tr id="loading-state">
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
            </tr>`;

        const tbody = $('#branch-dataTable tbody');
        for (let i = 0; i < 11; i++) {
            tbody.append(loader);
        }

        LoadTable();

        $('#branch-dataTable tbody').on('click', 'tr', function () {
            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push($(this).text());
            });
            branchid = dataRow[0];
            status = dataRow[7]
        })

        $(document).on('click', '#editBtn', function () {
            $('#branchidmodal').val(branchid);
            $('#branchModal').modal('show');
        })

        $(document).on('click', '#closeBtn', function () {
            $('#branchnamemodal').val('');
            $('#tinmodal').val('');
            $('#addressmodal').val('');
            $('#imageinputmodal').val('');
        })

        $(document).on("change", "#imageinputmodal", function () {
            const input = document.getElementById("imageinputmodal");
            const file = input.files[0];

            const reader = new FileReader();
            reader.onload = function () {
                const img = new Image();
                img.src = reader.result;
                img.onload = function () {
                    const maxWidth = 300;
                    const maxHeight = 300;

                    let width = img.width;
                    let height = img.height;

                    if (width > maxWidth) {
                        height *= maxWidth / width;
                        width = maxWidth;
                    }

                    if (height > maxHeight) {
                        width *= maxHeight / height;
                        height = maxHeight;
                    }

                    const canvas = document.createElement("canvas");
                    const ctx = canvas.getContext("2d");
                    canvas.width = width;
                    canvas.height = height;
                    ctx.drawImage(img, 0, 0, width, height);

                    const base64Stringmodal = canvas.toDataURL("image/png"); // You can change the format if needed

                    const preview = document.getElementById("logoimagemodal");
                    preview.src = base64Stringmodal;

                    imageUploadModal(base64Stringmodal);
                };
            };
            reader.readAsDataURL(file);
        });

        function imageUploadModal() {
            const input = document.getElementById("imageinputmodal");
            const file = input.files[0];

            var reader = new FileReader();

            reader.onload = function () {
                base64Stringmodal = reader.result.replace("data:", "").replace(/^.+,/, "");

            };
            reader.readAsDataURL(file);

        }

        $(document).on("change", "#imageInput", function () {
            const input = document.getElementById("imageInput");
            const file = input.files[0];

            const reader = new FileReader();
            reader.onload = function () {
                const img = new Image();
                img.src = reader.result;
                img.onload = function () {
                    const maxWidth = 300;
                    const maxHeight = 300;

                    let width = img.width;
                    let height = img.height;

                    if (width > maxWidth) {
                        height *= maxWidth / width;
                        width = maxWidth;
                    }

                    if (height > maxHeight) {
                        width *= maxHeight / height;
                        height = maxHeight;
                    }

                    const canvas = document.createElement("canvas");
                    const ctx = canvas.getContext("2d");
                    canvas.width = width;
                    canvas.height = height;
                    ctx.drawImage(img, 0, 0, width, height);

                    const resizedBase64 = canvas.toDataURL("image/png"); // You can change the format if needed

                    const preview = document.getElementById("logoimage");
                    preview.src = resizedBase64;

                    imageUploaded(resizedBase64);
                };
            };
            reader.readAsDataURL(file);
        });

        function imageUploaded() {
            const input = document.getElementById("imageInput");
            const file = input.files[0];

            var reader = new FileReader();

            reader.onload = function () {
                base64String = reader.result.replace("data:", "").replace(/^.+,/, "");
                // alert(imageBase64Stringsep);
            };
            reader.readAsDataURL(file);

        }

        $(document).on('click', '#addBtn', function () {

            let branchid = $('#branchid').val();
            let branchname = $('#branchname').val();
            let tin = $('#tin').val();
            let address = $('#address').val();
            let logo = base64String

            var $btnIcon = $(this).find('#btn-label-modal');
            var $btnSpinner = $(this).find('#btnSpinner-modal');
            $btnIcon.addClass('d-none');
            $btnSpinner.removeClass('d-none');

            var message = "";

            if (branchid == '') { message += 'Branch ID ' }
            if (branchname == '') { message += 'Branch Name ' }
            if (tin == '') { message += 'TIN ' }
            if (address == '') { message += 'Address ' }
            if (logo == '') { message += 'Logo Image ' }

            if (message != '') {
                warning('Required', `Please fill up ${message}`);
                $btnIcon.removeClass('d-none');
                $btnSpinner.addClass('d-none');
            }
            else {

                $.ajax({
                    type: 'POST',
                    url: '/branch/save',
                    data: {
                        branchid: branchid,
                        branchname: branchname,
                        tin: tin,
                        address: address,
                        logo: logo,
                    },
                    success: function (result) {
                        $('#branchid').val('');
                        $('#branchname').val('');
                        $('#tin').val('');
                        $('#address').val('');

                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')

                            $.ajax({
                                url: '/productinventory/syncinventory',
                                type: 'POST',
                                success: function (data) {
                                    if (data.msg === 'success') {
                                        success('Synced', 'Successfully')
                                    } else {
                                        console.error(data.msg);
                                    }
                                },
                                error: function (error) {
                                    console.error(error);
                                }
                            });
                        }

                        if (result.msg == 'exist') {
                            warning('Exist', `${branchid} already exist!`);
                        }

                        $btnIcon.removeClass('d-none');
                        $btnSpinner.addClass('d-none');
                    },
                    error: function (err) {
                        errormsg(err);
                        $btnIcon.removeClass('d-none');
                        $btnSpinner.addClass('d-none');
                    }
                })
            }
        })

        function populateBranchTable(data) {
            // const addBtn = $('#addBtn');
            // if (data.length === 1) {
            //     addBtn.prop('disabled', true);
            // } else {
            //     addBtn.prop('disabled', false);
            // }
            const tableBody = $('#branch-dataTable tbody');
            tableBody.empty();

            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 9,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    let action = '';
                    if (item.status === 'ACTIVE') {
                        action = `
                        <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#accessModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                        <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>`;
                    } else if (item.status === 'INACTIVE') {
                        action = `
                        <span class="editbutton" id="editBtn" name="editBtn" data-toggle="modal" data-target="#accessModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></span>
                        <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>`;
                    }
                    const statusBackground = getStatusBackground(item.status);
                    const containerBackground = getStatusContainerBackground(item.status);

                    const tr = $('<tr>').append(
                        $('<td>', { text: item.branchid, 'data-label': 'Branch ID', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.branchname, 'data-label': 'Branch Name', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.tin, 'data-label': 'TIN', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.address, 'data-label': 'Address', class: 'custom-mobile-align' }),
                        $('<td>', {
                            html: item.logo
                                ? `<img src="data:image/svg+xml;base64,${item.logo}" alt="Branch Logo" class="branch-logo" style="max-width: 150px; max-height: 150px;"/>`
                                : 'No Image',

                        }),
                        $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
                        $('<td>', { text: ConvertDate(item.createddate), 'data-label': 'Created Date', class: 'custom-mobile-align' }),
                        $('<td>', { class: 'custom-mobile-align', 'data-label': 'Status' }).append(
                            $('<div>', { class: containerBackground }).append(
                                $('<span>', { text: item.status, class: statusBackground })
                            )
                        ),
                        $('<td>', { html: action, 'data-label': 'Action' })
                    );

                    tableBody.append(tr);
                });
            }
        }

        function LoadTable() {
            $(".progress").hide();
            $(".progress").slideDown();

            $.ajax({
                url: '/branch/load',
                method: 'GET',
                dataType: 'json',
                xhrFields: {
                    onprogress: function (e) {
                        if (e.lengthComputable) {
                            var percentComplete = (e.loaded / e.total) * 100;
                            $(".progress-bar").css("width", percentComplete + "%");
                        }
                    }
                },
                success: function (data) {
                    setTimeout(function () {
                        $(".progress").slideUp(function () {
                            if (data.msg === 'success') {
                                populateBranchTable(data.data);
                            } else {
                                console.error(data.msg);
                            }
                        });
                    }, 1000);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        $(document).on('click', '#activeBtn', function () {

            $.ajax({
                type: 'POST',
                url: '/branch/status',
                data: {
                    status: status,
                    branchid: branchid,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }

                    if (result.msg == 'notexist') {
                        warning(`${branchid} does not exist!`);
                    }

                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });

        $(document).on('click', '#inactiveBtn', function () {

            $.ajax({
                type: 'POST',
                url: '/branch/status',
                data: {
                    status: status,
                    branchid: branchid,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }

                    if (result.msg == 'notexist') {
                        warning(`${branchid} does not exist!`);
                    }

                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });

        $(document).on('click', '#updateBtn', function () {
            let branchid = $('#branchidmodal').val();
            let branchname = $('#branchnamemodal').val();
            let tin = $('#tinmodal').val();
            let address = $('#addressmodal').val();
            let logo = base64Stringmodal;

            var $btnIcon = $(this).find('#btn-label-modal');
            var $btnSpinner = $(this).find('#btnSpinner-modal');
            $btnIcon.addClass('d-none');
            $btnSpinner.removeClass('d-none');

            var message = "";

            if (branchname == '' && tin == '' && address == '' && logo == '') {
                message += 'Fill up atleast 1 input field before updating'
            }

            if (message != '') {
                warning('Required', `${message}`);
                $btnIcon.removeClass('d-none');
                $btnSpinner.addClass('d-none');
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/branch/edit',
                    data: {
                        branchid: branchid,
                        branchname: branchname,
                        tin: tin,
                        address: address,
                        logo: logo,
                    },
                    success: function (result) {
                        $('#branchModal').modal('hide');
                        $('#branchnamemodal').val('');
                        $('#tinmodal').val('');
                        $('#addressmodal').val('');

                        if (result.msg == 'success') {
                            LoadTable();
                            success('Saved', 'Successfully')
                        }

                        if (result.msg == 'duplicate') {
                            warning('Duplicate', `${branchid} already exist!`);
                        }

                        $btnIcon.removeClass('d-none');
                        $btnSpinner.addClass('d-none');
                    },
                    error: function (err) {
                        errormsg(err);

                        $btnIcon.removeClass('d-none');
                        $btnSpinner.addClass('d-none');
                    }
                })
            }
        })

        function filterTableRows() {
            const searchQuery = $('#search-input').val().trim().toLowerCase();
            let foundMatches = false;

            $('#no-match-row').remove();

            $('#branch-dataTable tbody tr').each(function () {
                const rowData = $(this).text().toLowerCase();
                if (rowData.includes(searchQuery)) {
                    $(this).show();
                    foundMatches = true;
                } else {
                    $(this).hide();
                }
            });

            if (!foundMatches) {
                const noMatchRow = $('<tr>').append(
                    $('<td>', {
                        colspan: 9,
                        class: 'text-center',
                        text: 'No Data Matched'
                    })
                );
                $('#branch-dataTable tbody').append(noMatchRow);
                noMatchRow.attr('id', 'no-match-row');
            }
        }

        $('#search-input').on('input', function(){
            filterTableRows("#branch-dataTable", 9, "#search-input");
        });

    })

</script>