<div class="modal fade " id="order-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg">
                <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="card shadow">
                    <div class="card-header py-3 header-bg">
                        <h6 class="m-0 font-weight-bold table-title">Order Details Data:</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive scrollable-table-container">
                            <table class="table table-bordered custom-mobile-table" id="orderdetails-dataTable"
                                width="100%" cellspacing="10">
                                <thead class="table-header">
                                    <tr>
                                        <th class="col-1">ID</th>
                                        <th class="col-2">Order ID</th>
                                        <th class="col-4">Description</th>
                                        <th class="col-2">Quantity</th>
                                        <th class="col-1">Unit Price</th>
                                        <th class="col-2">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-inventory" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="ReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg">
                <h5 class="modal-title" id="exampleModalLabel">Report Purchase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="card shadow">
                    <div class="card-header py-2 header-bg">
                        <h6 class="m-0 font-weight-bold table-title">Report Purchase:</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label">Vendor Name </label>
                                <input id="reportVendorName" name="reportVendorName" type="text" disabled class="form-control">                                
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Delivery </label>
                                <input id="reportdeliverymethod" name="reportdeliverymethod" type="text" disabled class="form-control">                                
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-6">
                                <label class="form-label">Order Date</label>
                                <input id="reportorderdate" name="reportorderdate" type="text" disabled class="form-control">                                
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Delivery Date </label>
                                <input id="reportdeliverydate" name="reportdeliverydate" type="text" disabled class="form-control">                                
                            </div>
                        </div>
                        <div class="row mt-1 mb-3 justify-content-center">
                            <div class="col-md-6">
                                <label class="form-label">Payment Term </label>
                                <input id="reportpaymentterm" name="reportpaymentterm" type="text" disabled class="form-control">                                
                            </div>
                        </div>
                        <div class="table-responsive scrollable-table-container border">
                            <table class="table table-bordered custom-mobile-table" id="report-dataTable"
                                width="100%" cellspacing="10">
                                <thead class="table-header">
                                    <tr>
                                        <th class="col-1">Order ID</th>
                                        <th class="col-3">Description</th>
                                        <th class="col-1">Material ID</th>
                                        <th class="col-3">Expected Quantity</th>
                                        <th class="col-1">Received Quantity</th>
                                        <th class="col-3">Report Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="reportFooter">
                <button type="button" class="btn btn-outline-inventory" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-inventory" id="submitPurchaseOrder">
                    <span id="reportLabel">Report</span>
                    <span id="reportLoading" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="toggle-view">
        <div class="card mb-2">
            <div class="card">
                <div class="card-header header-bg">
                    <div class="row">
                        <div class="col">
                            <h6 class="m-0 font-weight-bold mt-2 label-title h4">Purchase Order</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body extend">
                    <div class="row justify-content-end">
                        <div class="col-xl-4">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input autocomplete="off" class="form-control text-center custom-input" placeholder="Select Vendor" name="vendor"
                                        id="vendor" />
                                    <input autocomplete="off" type="hidden" id="vendorID" name="vendorID" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">Vendor</span>
                                    </div>
                                </div>
                                <div class="custom-dropdown cdw-tableoption" id="vendorDropdown"></div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Date Order</span>
                                    </div>
                                    <input autocomplete="off" id="orderdate" name="orderdate" type="date"
                                        class="form-control" placeholder="Enter POS Name" aria-label="orderdate"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Date Needed</span>
                                    </div>
                                    <input autocomplete="off" class="form-control" type="date" placeholder="Enter Serial"
                                        name="deliverydate" id="deliverydate" />
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Payment Term</span>
                                    </div>
                                    <input autocomplete="off" id="paymentterms" name="paymentterms" type="text"
                                        class="form-control" placeholder="Enter Payment terms" aria-label="paymentterms"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Delivery Method</span>
                                    </div>
                                    <input autocomplete="off" id="deliverymethod" name="deliverymethod" type="text"
                                        class="form-control" placeholder="Enter Delivery Method" aria-label="deliverymethod"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="table-responsive table-size-package border">
                                <table class="table custom-mobile-table" id="purchaseorder-datatable" width="100%"
                                    cellspacing="10">
                                    <thead class="table-header">
                                        <tr>
                                            <th class="col-3">Product</th>
                                            <th class="col-2">Unit/s</th>
                                            <th class="col-3">Cost</th>
                                            <th class="col-2">Quantity</th>
                                            <th class="col-1"></th>
                                        </tr>
                                    </thead>
        
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end mt-1">
                        <div class="col-md-2 text-right">
                            <button type="button" id="submitBtn" class="btn btn-outline-inventory w-100">
                                <span id="submitLabel">Submit</span>
                                <span id="submitLoading" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- DataTales Example -->
    <div class="card shadow mb-4 cardbody-size-710">
        <div class="progress progress-sm mb-2">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div>
        <div class="card-header py-3 header-bg">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-2">
                        <% if (accesstype === "Owner" || accesstype === "Manager" || accesstype === "Procurement" || accesstype === "procurement") { %>
                        <button id="toggleButton" name="toggleButton"
                            class=" ml-3 btn btn-circle btn-outline-inventory ">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                        <% } %>
                        <h6 class="mt-2 ml-3 font-weight-bold table-title label-title h4">Purchase Order</h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input autocomplete="off" type="text" class="form-control bg-light small"
                            placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2"
                            id="search-input">
                        <div class="input-group-append">
                            <button class="btn sis-btn-color" type="button" id="search-button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive scroll-cardbody-size-710 border">
                <table class="table table-bordered custom-mobile-table" id="datatable" width="100%" cellspacing="10">
                    <thead class="table-header">
                        <tr>
                            <th class="col-1">Order ID</th>
                            <th class="col-2">Vendor</th>
                            <th class="col-2">Order Date</th>
                            <th class="col-2">Delivery Date</th>
                            <th class="col-1">Total Amount</th>
                            <th class="col-1">Payment Terms</th>
                            <th class="col-1">Delivery Method</th>
                            <th class="col-1">Status</th>
                            <th class="col-1">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>