<script>
    $(document).ready(function () {
        //Functionality
        let countid = "";
        let status = "";
        let dropdownCounter = 0;
        let materialdata = []

        const loader = `  
            <tr id="loading-state">
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
                <td><div class="custom-loader"></div></td>
            </tr>`;

        const tbody = $('#materialcount-dataTable tbody');
        for (let i = 0; i < 7; i++) {
            tbody.append(loader);
        }
        
        LoadTable();
        LoadList();

        $('#materialcount-dataTable tbody').on('click', 'tr', function () {
            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push($(this).text());
            });
            console.log(dataRow);
            countid = dataRow[0];
            status = dataRow[6]
        })

        $(document).on('change', '#materiallists', function () {
            dropdownCounter++
            let materialid = $(this).val();

            AddNewRow(dropdownCounter);
            console.log('Material ID changed to: ' + materialid);
            let row = $(this).closest('tr');

            let newAction = '<button class="btn btn-outline-danger delete-row" id="deleterow">Remove</button>'

            if (materialid != '') {
                row.find('#actionBtn').html(newAction);
            } else {
                row.find('#actionBtn').html('');
            }

            $(this).prop('disabled', true);

            row.find('.material-id').text(materialid);
        });

        function AddNewRow(dropdownCounter) {
            dropdownCounter++

            $('#materials-datatable tbody').append(newRow);
            let row = $('#materials-datatable').find('tr').last();
            let newActionBtn = '<button class="btn btn-outline-danger delete-row" id="deleterow">Remove</button>';
            let newrow = '<select class="form-control text-center" name="materiallists" id="materiallists' + dropdownCounter + '"><option value="">Select Material</option></select>';
            var newRow =
                '<tr>' +
                '<td data-label="Material Name" class="custom-mobile-align">' + newrow + '</td>' +
                '<td data-label="Material ID" class="custom-mobile-align material-id' + dropdownCounter + ' materialid"></td>' +
                '<td data-label="Quantity" class="custom-mobile-align">' + '<div class="row justify-content-center">' + '<input name="quantity" type="number" class="form-control w-50 quantity" placeholder="0.00" value="" maxlength="8">' + '</div></td>' +
                '<td data-label="Action" class="custom-mobile-align delete-row""></td>' +
                '</tr>';
            $('#materials-datatable').append(newRow);

            $(document).on('change', '#materiallists' + dropdownCounter, function () {
                let newmaterialid = $(this).val();
                console.log(newmaterialid);
                let existingValues = [];

                let currentRow = $(this).closest('tr');
                let actionButton = currentRow.find('.delete-row');

                $('#materials-datatable select[name="materiallists"]').each(function () {
                    let selectedValue = $(this).val();
                    if (selectedValue !== null && selectedValue !== "") {
                        existingValues.push(selectedValue);
                    }
                });

                let isDuplicate = existingValues.filter(value => value === newmaterialid).length > 1;

                if (isDuplicate) {
                    warning('Duplicate!', `Material already exist.`);
                    $(this).val('');
                } else {
                    
                    currentRow.find('.material-id' + dropdownCounter).text(newmaterialid);

                    if (newmaterialid !== '') {
                        actionButton.html(newActionBtn);
                    } else {
                        actionButton.html('');
                    }
                    AddNewRow(dropdownCounter);
                    $(this).prop('disabled', true);
                }

            });

            $.ajax({
                type: 'GET',
                url: '/productionmaterials/load',
                success: function (result) {
                    var data = result.data;
                    $.each(data, function (key, item) {
                        if (item.status == "ACTIVE") {
                            var options = new Option(item.productname, item.productid);
                            $('#materiallists' + dropdownCounter).append(options);
                        }
                    });
                },
                error: function (err) {
                    errormsg(err);
                }
            });
        }

        $(document).on('click', '#deleterow', function (e) {
            e.preventDefault()
            $(this).closest('tr').remove();
        });

        $(document).on('click', '#submitBtn', function () {
            var jsonData = [];
            console.log(jsonData)
            $('#materials-datatable tbody tr:not(:last)').each(function () {
                var row = $(this);
                var productid = row.find('.materialid').text();
                var quantity = row.find('input[name="quantity"]').val();

                jsonData.push({
                    productid: productid,
                    quantity: quantity
                })
            });

            materialdata = JSON.stringify(jsonData);
            let message = "";

            if ($('#materials-datatable tbody tr:not(:last)').length === 0) {
                message += 'Material Table Cannot be Empty, ';
            }
            
            $('#materials-datatable tbody tr:not(:last)').each(function () {
                var quantity = $(this).find('input[name="quantity"]').val();
                if (quantity == 0) {
                    message += 'Quantity Cannot be 0, ';
                }
            });
            if (message != '') {
                warning('Required', message);
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/materialcount/save',
                    data: {
                        materialdata: materialdata,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            success('Saved', 'Successfully')
                            $('#materials-datatable tbody tr:not(:last)').remove();
                            LoadTable()
                        }
                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        function populateMaterialCountTable(data) {
            //console.log(data);
            const tableBody = $('#materialcount-dataTable tbody');
            tableBody.empty();

            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 9,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    let action = '';
                    if (item.status === 'ACTIVE') {
                        action = `
                        <span class="editbutton" id="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></span>`;
                    } else if (item.status === 'INACTIVE') {
                        action = `
                        <span class="editbutton" id="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></span>`;
                    }
                    const statusBackground = getStatusBackground(item.status);
                    const containerBackground = getStatusContainerBackground(item.status);

                    $.ajax({
                        type: 'POST',
                        url: '/productionmaterials/getmaterials',
                        data: {
                            materialid: item.productid
                        },
                        success: function (result) {
                            let data = result.data;
                            let materialname = data[0].materialname;
                            const tr = $('<tr>').append(
                                $('<td>', { text: item.countid, 'data-label': 'Employee ID', class: 'custom-mobile-align' }),
                                $('<td>', { text: materialname, 'data-label': 'Full Name', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.quantity, 'data-label': 'Position', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.unit, 'data-label': 'Contact Info', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
                                $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
                                $('<td>', { class: 'custom-mobile-align', 'data-label': 'Status' }).append(
                                    $('<div>', { class: containerBackground }).append(
                                    $('<span>', { text: item.status, class: statusBackground })
                                    )
                                ),
                                $('<td>', { html: action, 'data-label': 'Action', class: '' })
                            );

                            tableBody.append(tr);
                        },
                        error: function (err) {
                            errormsg(err);
                        }
                    })

                });
            }
        }

        function LoadTable() {
            $(".progress").hide();
            $(".progress").slideDown();

            $.ajax({
                url: '/materialcount/load',
                method: 'GET',
                dataType: 'json',
                xhrFields: {
                    onprogress: function (e) {
                        if (e.lengthComputable) {
                            var percentComplete = (e.loaded / e.total) * 100;
                            $(".progress-bar").css("width", percentComplete + "%");
                        }
                    }
                },
                success: function (data) {
                    setTimeout(function () {
                        $(".progress").slideUp(function () {
                            if (data.msg === 'success') {
                                populateMaterialCountTable(data.data);
                            } else {
                                console.error(data.msg);
                            }
                        });
                    }, 1000);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        //#endregion


        function LoadList() {
            $.ajax({
                type: 'GET',
                url: '/productionmaterials/load',
                success: function (result) {
                    var data = result.data;

                    $.each(data, function (key, item) {
                        if (item.status == "ACTIVE") {
                            var options = new Option(item.productname, item.productid);
                            $('#materiallists').append(options);
                        }
                    });

                    $('#materiallists').data('loaded', true);
                },
                error: function (err) {
                    errormsg(err);
                }
            });
        }

        $(document).on('click', '#inactiveBtn', function () {
            console.log(countid);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/materialcount/status',
                data: {
                    status: status,
                    countid: countid,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }

                    if (result.msg == 'notexist') {
                        warning(`${countid} does not exist!`);
                    }

                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });

        $(document).on('click', '#activeBtn', function () {
            console.log(countid);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/materialcount/status',
                data: {
                    status: status,
                    countid: countid,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        LoadTable();
                        success('Saved', 'Successfully')
                    }

                    if (result.msg == 'notexist') {
                        warning(`${countid} does not exist!`);
                    }

                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });

        function filterTableRows() {
            const searchQuery = $('#search-input').val().trim().toLowerCase();
            let foundMatches = false;

            $('#no-match-row').remove();

            $('#purchaseorder-dataTable tbody tr').each(function () {
                const rowData = $(this).text().toLowerCase();
                if (rowData.includes(searchQuery)) {
                    $(this).show();
                    foundMatches = true;
                } else {
                    $(this).hide();
                }
            });

            if (!foundMatches) {
                const noMatchRow = $('<tr>').append(
                    $('<td>', {
                        colspan: 9,
                        class: 'text-center',
                        text: 'No Data Matched'
                    })
                );
                $('#purchaseorder-dataTable tbody').append(noMatchRow);
                noMatchRow.attr('id', 'no-match-row');
            }
        }

        $('#search-input').on('input', filterTableRows);

        $('#convertopdf').on('click', function () {
            $.ajax({
                type: "GET",
                url: "/materialcount/getmaterial",
                success: function (result) {
                    let data = result.data
                    console.log("material data:", data)

                    let template = "MATERIALS INVENTORY REPORT"
                    let category = "Materials"
                    if (result.msg == "success") {
                        // console.log("Current Stock: ", groupedData);
                        if (data.length != 0) {
                            $.ajax({
                                type: "POST",
                                url: "/pdf/processpdfdata",
                                data: {
                                    processeddata: data,
                                    template: template,
                                    category: category
                                },
                                success: function (result) {
                                    // console.log("MSG: ", result.msg)
                                    if (result.msg == "success") {
                                        window.open(`/pdf/generatepdf`, "_blank");
                                        success("Success", "PDF generate successfully!");
                                    }
                                },
                                error: function (err) {
                                    errormsg(err);
                                },
                            });
                        }
                    } else {
                        warning("Notice", "No Data within in the date range.")
                    }
                },
                error: function (err) {
                    errormsg(err);
                },
            });
        });
    })
</script>