<!-- Modal -->
<div class="modal fade " id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-bg">
                <h5 class="modal-title" id="exampleModalLabel">Update Price</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="custom-modal-body">
                <div class="card">
                    <div class="card-header py-2 header-bg">
                        <h6 class="m-0 font-weight-bold table-title">Update Price: </h6>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <label class="form-label">Product Name</label>
                                <input id="employeeidmodal" name="employeeidmodal" type="text" class="form-control"aria-label="fullname" aria-describedby="basic-addon1" disabled>        
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <label class="form-label">Contact Info</label>
                                <input id="contactinfomodal" name="contactinfomodal" type="text" class="form-control" placeholder="Enter New Contact info" aria-label="fullname" aria-describedby="basic-addon1">        
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Full Name</label>
                                <input id="fullnamemodal" name="fullnamemodal" type="text" class="form-control" placeholder="Enter Full Name" aria-label="fullname" aria-describedby="basic-addon1">        
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-center">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input autocomplete="off" class="form-control text-center custom-input" placeholder="Select Position" name="positionmodal"
                                        id="positionmodal" />
                                    <input autocomplete="off" type="hidden" id="positionmodalID" name="positionmodalID" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">Position</span>
                                    </div>
                                </div>
                                <div class="custom-dropdown cdw-tableoption" id="positionmodalDropdown"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeBtn" class="btn btn-outline-inventory" data-dismiss="modal">Close</button>
                <button type="button" id="updateBtn" class="btn btn-outline-inventory">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card shadow mb-4 cardbody-size-710">
        <div class="progress progress-sm mb-2">
            <div class="progress-bar" role="progressbar" style="width: 0%"
                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <div class="card-header py-3 header-bg">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="mt-2 font-weight-bold table-title">Products Price Data:</h6>
                </div>
                <div class="col-md-8">
                    <div class="row d-flex justify-content-end">
                        <div class="col-9">
                            <div class="input-group">
                                <input autocomplete="off" type="text" class="form-control bg-light small"
                                    placeholder="Search for..." aria-label="Search"
                                    aria-describedby="basic-addon2" id="search-input">
                                <div class="input-group-append">
                                    <button class="btn sis-btn-color" type="button" id="search-button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row d-flex justify-content-end">
                                <div class="dropdown no-arrow">
                                    <button class="btn btn-outline-inventory dropdown-toggle ani-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-table btn-content"></i> <span class="mobile-hidden btn-content">Table Options</span>
                                    </button>
                                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="productpricecb" class="custom-checkbox">
                                                </div>
                                                <div class="col-9">
                                                    <label for="productpricecb">Product Price</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="productcodecb" class="custom-checkbox">
                                                </div>
                                                <div class="col-9">
                                                    <label for="productcodecb">Product Code</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="descriptioncb" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="descriptioncb">Description</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="barcodecb" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="barcodecb">Barcode</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="imagecb" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="imagecb">Image</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="pricecb" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="pricecb">Price</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="categprycb" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="categprycb">Category</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="previouspricecb" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="previouspricecb">Previous Price</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="pricechangecheckbox" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="pricechangecheckbox">Price Change</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="changedate" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="changedate">Change Date</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="createdbycb" class="custom-checkbox" >
                                                </div>
                                                <div class="col-9">
                                                    <label for="createdbycb">Created By</label>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="createddatecb" class="custom-checkbox" >
                                                </div>
                                                <div class="col-9">
                                                    <label for="createddatecb">Created Date</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="status" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="status">Status</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-item custom-checkbox">
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <input autocomplete="off" type="checkbox" id="actions" class="custom-checkbox" checked>
                                                </div>
                                                <div class="col-9">
                                                    <label for="actions">Action</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                       
                                </div>
                                <button class="btn btn-outline-inventory ml-2" id="export-button">
                                    <i class="fas fa-download fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="card-body">
        <div class="table-responsive scroll-cardbody-size-710">
            <table class="table table-bordered custom-mobile-table" id="productprice-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th>Product Price Code</th>
                        <th>Product Code</th>
                        <th>Description</th>
                        <th>Barcode</th>
                        <th>Product Image</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Previous Price</th>   
                        <th>Price Change</th>   
                        <th>Price Change Date</th>   
                        <th>Created By</th>   
                        <th>Created Date</th>     
                        <th class="col-1">Status</th>    
                        <th class="col-1"></th>        
                    </tr>
                </thead>
                    
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>