<script>

$(document).ready(function () {

    LoadTable();

    $('#productprice-dataTabletbody').on('click', 'tr', function () {
        var dataRow = [];
        $(this).closest('tr').find('td').each(function () {
            dataRow.push($(this).text());
        });
        console.log(dataRow);
    }) 

    function LoadTable() {
        $('#productprice-dataTable').DataTable({
            'destroy': true,
            'processing': true,
            'serverSide': true,
            'paging': false,
            'searching': false,
            'info': false,
            'scrollCollapse': true,
            'serverMethod': 'GET',
            'ajax': {
                'url': '/productprice/load',
                'dataSrc': (json) => {
                    var finalData = [];
                    var data = json.data;

                    console.log(data);
                    $.each(data, (key, item) => {
                        var action = '';
                        var status = item.status;

                        if (status == 'ACTIVE') {
                            action = '<button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button> <button id="inactiveBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>'
                        }
                        if (status == 'INACTIVE') {
                            action = '<button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button> <button id="activeBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>'
                        }

                        finalData.push({
                            productpriceid: item.productpriceid,
                            productid: item.productid,
                            description: item.description,
                            barcode: item.barcode,
                            productimage: item.productimage,
                            price: item.price,
                            category: item.category,
                            previousprice: item.previousprice,
                            pricechange: item.pricechange,
                            pricechangedate: item.pricechangedate,
                            status: item.status,
                            createdby: item.createdby,
                            createddate: item.createddate,
                            action: action,
                        })

                    })

                    return finalData;
                },
            },
            'columnDefs': [{
                targets: 1,
                className: 'td-indent',
            }],
            'columns': [
                { data: 'productpriceid', className: 'no-wrap'},
                { data: 'productid', className: 'no-wrap'},
                { data: 'description', className: 'no-wrap'},
                { data: 'barcode', className: 'no-wrap'},
                { data: 'productimage', className: 'no-wrap'},
                { data: 'price', className: 'no-wrap'},
                { data: 'category', className: 'no-wrap'},
                { data: 'previousprice', className: 'no-wrap'},
                { data: 'pricechange', className: 'no-wrap'},
                { data: 'pricechangedate', className: 'no-wrap'},
                { data: 'createdby', className: 'no-wrap'},
                { data: 'createddate', className: 'no-wrap'},
                { data: 'status', className: 'no-wrap'},
                { data: 'action', className: 'no-wrap'},
            ],
            'fixedHeader': true,
            initComplete: function () {
                console.log('init complete');
            }
        });
    }

    }
)
    
</script>