<script>

$(document).ready(function () {

    LoadTable();

    $('#productprice-dataTabletbody').on('click', 'tr', function () {
        var dataRow = [];
        $(this).closest('tr').find('td').each(function () {
            dataRow.push($(this).text());
        });
        console.log(dataRow);
    }) 

    function populateProductPriceTable(data) {
            console.log(data);
            const tableBody = $('#productprice-dataTable tbody');
            tableBody.empty();

            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 14,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    let action = '';
                    if (item.status === 'ACTIVE') {
                        action = `
                            <button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                            <button id="inactiveBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>`;
                    } else if (item.status === 'INACTIVE') {
                        action = `
                            <button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                            <button id="activeBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>`;
                    }

                    const tr = $('<tr>').append(
                        $('<td>', { text: item.productpriceid, 'data-label': 'Product Price ID', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.productid, 'data-label': 'Product ID', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.description, 'data-label': 'Description', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.barcode, 'data-label': 'Barcode', class: 'custom-mobile-align' }),
                        $('<td>', { html: `<img src="data:image/png;base64,${item.productimage}" alt="Product Image" style="max-width: 200px; max-height: 150px;" />`}),
                        $('<td>', { text: item.price, 'data-label': 'Price', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.category, 'data-label': 'Category', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.previousprice, 'data-label': 'Previous Price', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.pricechange, 'data-label': 'Price Change', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.pricechangedate, 'data-label': 'Price Change Date', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
                        $('<td>', { text: item.status, 'data-label': 'Status', class: 'custom-mobile-align' }),
                        $('<td>', { html: action, 'data-label': 'Action' })
                    );

                    tableBody.append(tr);
                });
            }
        }

        function LoadTable() {
            $.ajax({
                url: '/productprice/load',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    if (data.msg === 'success') {
                        populateProductPriceTable(data.data);
                    } else {
                        console.error(data.msg);
                    }
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }

    })
    
</script>