<script>
  $(document).ready(async function () {
    const table = $('#routes-dataTable tbody')

    TableLoader('#routes-dataTable', 12, 8)
    await LoadTable()

    //#region Listeners
    $(document).on('click', '#addBtn', function () {
      let routename = $('#routename').val()
      let layout = $('#layout').val()
      let route = $('#route').val()

      Upsert(
        'POST',
        '/routes/add-route',
        {
          routename: routename,
          layout: layout,
          route: route,
        },
        function (result) {
          if (result.message === 'success') {
            success('Success', 'Route added successfully')
            LoadTable()
          }
        }
      )
    })
    //#endregion

    //#region Initializers
    async function LoadTable() {
      FetchTableData('/routes/get-routes', function (result) {
        console.log(result)

        PopulateTable(result)
      })
    }
    //#endregion

    //#region LoadTable
    function PopulateTable(data) {
      const tableBody = table
      tableBody.empty()

      if (data.length === 0) {
        const tr = $('<tr>').append(
          $('<td>', {
            colspan: 8,
            class: 'text-center',
            text: 'No Data Matched',
          })
        )
        tableBody.append(tr)
      } else {
        data.forEach((item) => {
          let action = ''

          if (item.status === 'active') {
            action = `<button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                          <button id="inactiveBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>`
          } else if (item.status === 'inactive') {
            action = `<button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                          <button id="activeBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>`
          }

          const tr = $('<tr>').append(
            $('<td>', {
              text: item.id,
              'data-label': 'ID',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.name,
              'data-label': 'Name',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.route,
              'data-label': 'Route',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.layout,
              'data-label': 'Layout',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.status,
              'data-label': 'Status',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.create_at,
              'data-label': 'Create At',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.create_by,
              'data-label': 'Create By',
              class: 'custom-mobile-align',
            }),
            $('<td>', { html: action, 'data-label': 'Action', class: '' })
          )

          tableBody.append(tr)
        })
      }
    }
    //#endregion
  })
</script>
