<script>
  $(document).ready(async function () {
    const table = $('#routes-dataTable tbody')

    TableLoader('#routes-dataTable', 12, 8)
    await LoadTable()

    //#region Listeners
    $(document).on('click', '#addBtn', function () {
      let routename = $('#routename').val()
      let layout = $('#layout').val()
      let route = $('#route').val()

      console.log(routename, layout, route)

      Upsert(
        'POST',
        '/routes/add-route',
        {
          routename: routename,
          layout: layout,
          route: route,
        },
        function (result) {
          if (result.message === 'success') {
            success('Success', 'Route added successfully')
            LoadTable()
          }
        },
      )
    })

    $(document).on('click', '#editBtn', function () {
      $('#routename').val($(this).closest('tr').find('td').eq(1).text())
      $('#route').val($(this).closest('tr').find('td').eq(2).text())
      $('#layout').val($(this).closest('tr').find('td').eq(3).text())
      $('#accessModal').modal('show')
    })

    $(document).on('click', '#activeBtn', function () {
      UpdateStatus('ACTIVE')
    })

    $(document).on('click', '#inactiveBtn', function () {
      UpdateStatus('INACTIVE')
    })

    const UpdateStatus = async (status) => {
      const data = {
        status: status,
        id: $(this).closest('tr').find('td').eq(0).text(),
      }

      try {
        const result = await queryUtility.Update('/routes/status', data)
        if (result.msg == 'success') {
          LoadTable()
        }
      } catch (error) {
        console.error('Error updating status:', error)
      }
    }
    //#endregion

    //#region Initializers
    async function LoadTable() {
      FetchTableData('/routes/get-routes', function (result) {
        console.log(result)

        PopulateTable(result)
      })
    }
    //#endregion

    //#region LoadTable
    function PopulateTable(data) {
      const tableBody = table
      tableBody.empty()

      if (data.length === 0) {
        const tr = $('<tr>').append(
          $('<td>', {
            colspan: 8,
            class: 'text-center',
            text: 'No Data Matched',
          }),
        )
        tableBody.append(tr)
      } else {
        data.forEach((item) => {
          let action = ''

          if (item.status === 'ACTIVE') {
            action = `<button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></button>
                          <button id="inactiveBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="inactiveBtn"><i class="fas fa-eye-slash" style="color: rgb(99, 115, 129);"></i></button>`
          } else if (item.status === 'INACTIVE') {
            action = `<button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal"><i class="fas fa-edit" style="color: rgb(99, 115, 129);"></i></button>
                          <button id="activeBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="activeBtn"><i class="fas fa-eye" style="color: rgb(99, 115, 129);"></i></button>`
          }

          const tr = $('<tr>').append(
            $('<td>', {
              text: item.id,
              'data-label': 'ID',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.name,
              'data-label': 'Name',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.route,
              'data-label': 'Route',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.layout,
              'data-label': 'Layout',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.status,
              'data-label': 'Status',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.create_at,
              'data-label': 'Create At',
              class: 'custom-mobile-align',
            }),
            $('<td>', {
              text: item.create_by,
              'data-label': 'Create By',
              class: 'custom-mobile-align',
            }),
            $('<td>', { html: action, 'data-label': 'Action', class: '' }),
          )

          tableBody.append(tr)
        })
      }
    }
    //#endregion
  })
</script>
