
<div class="container-fluid">
    <div class="card shadow mb-4 table-size">
        <div class="card-header py-3 header-bg">
            <h6 class="m-0 font-weight-bold table-title">Sales Items</h6>
        </div>
    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table table-bordered" id="position-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th class = "col-1">Details ID</th>
                        <th class = "col-1">Date</th>
                        <th class = "col-1">Item</th>
                        <th class = "col-1">Price</th>
                        <th class = "col-1">Quantity</th>
                        <th class = "col-1">Total</th>          
                    </tr>
                </thead>
                    
                <tbody>
                    <tr class="tr-hover">
                        <td>1-0000001</td>
                        <td>07/08/2023</td>
                        <td>pos1</td>                                        
                        <td>1</td>
                        <td>e-payment, cash, card</td>                                           
                        <td>1520</td>                           
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>