<script>
    $(document).ready(function () {
        //Functionality
        var activePositions = [];
        var activeAccess = [];
        var activeEmployees = [];

        let usercode = "";
        let status = "";
    
        reloadTableData();
    
        $('#users-dataTable tbody').on('click', 'tr', function () {
            var dataRow = [];
            $(this).closest('tr').find('td').each(function () {
                dataRow.push($(this).text());
            });
            console.log(dataRow);
            usercode = dataRow[0];
            status = dataRow[7];
        }) 

        $(document).on('click', '#editBtn', function(){
            $('#usercode').val(usercode);
            $('#userModal').modal('show');
            console.log(usercode);
        })

        $(document).on('click', '#closeBtn', function(){
            $('#currentpassword').val('');
            $('#newpassword').val('');
        })
    
        $(document).on('click', '#addBtn', function () {
            let employeeid = $('#employeelist').val();
            let accessname = $('#accessname').val();
            let positionname = $('#positionname').val();
    
            var message = "";
    
            if (employeeid == '') { message += 'Employee ID, ' }
            if (accessname == '') { message += 'Fullname, ' }
            if (positionname == '') { message += 'Position Name, ' }
    
            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '/users/save',
                    data: {
                        employeeid: employeeid,
                        accessname: accessname,
                        positionname: positionname,
                        username: employeeid,
                        password: employeeid,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            reloadTableData()
                            success('Saved', 'Successfully')
                            $('#employeeid').val('');
                            $('#accessname').val('');
                            $('#positionname').val('');
                        }
    
                        if (result.msg == 'exist') {
                            warning('Exist', `${employeeid} already exist!`);
                        }
    
                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        function populateUsersTable(data) {
            console.log(data);
            const tableBody = $('#users-dataTable tbody');
            tableBody.empty();

            if (data.length === 0) {
                const tr = $('<tr>').append($('<td>', {
                    colspan: 10,
                    class: 'text-center',
                    text: 'No Data Matched'
                }));
                tableBody.append(tr);
            } else {
                data.forEach(item => {
                    let action = '';
                    if (item.status !== 'DELETED'){
                        if (item.status === 'ACTIVE') {
                        action = `
                                <button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                                <button id="inactiveBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="inactiveBtn">INACTIVE</button>`;
                        } else if (item.status === 'INACTIVE') {
                            action = `
                                <button id="editBtn" class="btn btn-outline-inventory shadow-sm w-100" name="editBtn" data-toggle="modal" data-target="#accessModal">EDIT</button>
                                <button id="activeBtn" class="btn btn-outline-inventory shadow-sm w-100 mt-1" name="activeBtn">ACTIVE</button>`;
                        }
                        const tr = $('<tr>').append(
                            $('<td>', { text: item.usercode, 'data-label': 'User Code', class: 'custom-mobile-align' }),
                            $('<td>', { text: item.employeeid, 'data-label': 'Employee ID', class: 'custom-mobile-align' }),
                            $('<td>', { text: item.accesstype, 'data-label': 'Access Type', class: 'custom-mobile-align' }),
                            $('<td>', { text: item.positiontype, 'data-label': 'Position Type', class: 'custom-mobile-align' }),
                            $('<td>', { text: item.username, 'data-label': 'Username', class: 'custom-mobile-align' }),
                            $('<td>', { text: item.createdby, 'data-label': 'Created By', class: 'custom-mobile-align' }),
                            $('<td>', { text: item.createddate, 'data-label': 'Created Date', class: 'custom-mobile-align' }),
                            $('<td>', { text: item.status, 'data-label': 'Status', class: 'custom-mobile-align' }),
                            $('<td>', { html: action, 'data-label': 'Action', class: '' })
                        );

                        tableBody.append(tr);
                        }
                });
            }
        }

        function reloadTableData() {
            $(".progress").hide();
            $(".progress").slideDown();

            $.ajax({
                url: '/users/load',
                method: 'GET',
                dataType: 'json',
                xhrFields: {
                    onprogress: function (e) {
                        if (e.lengthComputable) {
                            var percentComplete = (e.loaded / e.total) * 100;
                            $(".progress-bar").css("width", percentComplete + "%");
                        }
                    }
                },
                success: function (data) {
                    setTimeout(function () {
                        $(".progress").slideUp(function() {
                            if (data.msg === 'success') {
                                populateUsersTable(data.data);
                            } else {
                                console.error(data.msg);
                            }
                        });
                    }, 1000); 
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }

        function LoadList() {
            $.ajax({
                type: 'GET',
                url: '/position/load',
                success: function (result) {
                    var data = result.data;
    
                    $.each(data, function (key, item) {
                        if (item.status == "ACTIVE") {
                            activePositions.push(item.positionname); 
                        }
                    });
                    //console.log(activePositions);
                    populatePosition();
                },
                error: function (err) {
                    errormsg(err);
                }
            });

            $.ajax({
                type: 'GET',
                url: '/access/load',
                success: function (result) {
                    var data = result.data;
    
                    $.each(data, function (key, item) {
                        if (item.status == "ACTIVE") {
                            activeAccess.push(item.accessname); 
                        }
                    });
                    //console.log(activePositions);
                    populateCustomDropdown();
                },
                error: function (err) {
                    errormsg(err);
                }
            });

            $.ajax({
                type: 'GET',
                url: '/employees/load',
                success: function (result) {
                    var data = result.data;

                    $.each(data, function (key, item) {
                        if (item.status == "ACTIVE"){
                            var options = new Option(item.employeeid, item.employeeid);
                            $(options).html(item.employeeid);
                            $('#employeelist').append(options);
                        }
                    });

                },
                error: function (err) {
                    errormsg(err);
                }
            })
        }
    
        $(document).on('click', '#activeBtn', function(){
            console.log(usercode);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/users/status',
                data: {
                    status: status,
                    usercode: usercode,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        reloadTableData();
                        success('Saved', 'Successfully')
                    }
    
                    if (result.msg == 'notexist') {
                        warning(`${usercode} does not exist!`);
                    }
    
                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });
    
        $(document).on('click', '#inactiveBtn', function(){
            console.log(usercode);
            console.log(status);
            $.ajax({
                type: 'POST',
                url: '/users/status',
                data: {
                    status: status,
                    usercode: usercode,
                },
                success: function (result) {
                    if (result.msg == 'success') {
                        reloadTableData();
                        success('Saved', 'Successfully')
                    }
    
                    if (result.msg == 'notexist') {
                        warning(`${usercode} does not exist!`);
                    }
    
                },
                error: function (err) {
                    errormsg(err);
                }
            })
        });

        $(document).on('click', '#updateBtn', function () {
            let currentpassword = $('#currentpassword').val();
            let newpassword = $('#newpassword').val();
            let usercode = $('#usercode').val();

            var message = "";

            if (currentpassword == '') { message += 'Current Password ' }
            if (newpassword == '') { message += 'New Password ' }
            // if (confirmpassword == '') { message += 'Confirm Password ' }
            if (message != '') {
                warning('Required', `Please fill up ${message}`);
            } else{
                $.ajax({
                    type: 'POST',
                    url: '/users/edit',
                    data: {
                        currentpassword: currentpassword,
                        newpassword: newpassword,
                        usercode: usercode,
                    },
                    success: function (result) {
                        if (result.msg == 'success') {
                            reloadTableData();
                            $('#userModal').modal('hide');
                            $('#newpassword').val('');
                            $('#currentpassword').val('');
                            success('Success', 'Password Change Successfully')
                        }

                        if (result.msg == 'notmatch') {
                            warning('Warning', `Wrong Current Password!`);
                        }

                    },
                    error: function (err) {
                        errormsg(err);
                    }
                })
            }
        })

        function filterTableRows() {
            const searchQuery = $('#search-input').val().trim().toLowerCase();
            let foundMatches = false;

            $('#no-match-row').remove();

            $('#users-dataTable tbody tr').each(function() {
                const rowData = $(this).text().toLowerCase();
                if (rowData.includes(searchQuery)) {
                    $(this).show();
                    foundMatches = true;
                } else {
                    $(this).hide();
                }
            });

            if (!foundMatches) {
                const noMatchRow = $('<tr>').append(
                    $('<td>', {
                        colspan: 9,
                        class: 'text-center',
                        text: 'No Data Matched'
                    })
                );
                $('#users-dataTable tbody').append(noMatchRow);
                noMatchRow.attr('id', 'no-match-row');
            }
        }

        $('#search-input').on('input', filterTableRows);

        //Custom Dropdown
    
        function populateCustomDropdown() {
            for (const access of activeAccess) {
                addAccess("accessDropdown", access);
            }
        }

        function populatePosition(){
            for (const position of activePositions) {
                addPosition("positionDropdown", position);
            }
        }
    
        function setupCustomDropdown(inputId, dropdownId, optionClass) {
            const inputElement = document.getElementById(inputId);
            const dropdownElement = document.getElementById(dropdownId);
            const options = dropdownElement.getElementsByClassName(optionClass);
    
            inputElement.addEventListener("click", function () {
                dropdownElement.style.display = "block";
            });
    
            for (const option of options) {
                option.addEventListener("click", function () {
                    inputElement.value = option.textContent;
                    dropdownElement.style.display = "none";
                });
            }
    
            inputElement.addEventListener("input", function () {
                const value = inputElement.value.toUpperCase();
                for (const option of options) {
                    if (option.textContent.toUpperCase().includes(value)) {
                        option.style.display = "block";
                    } else {
                        option.style.display = "none";
                    }
                }
                dropdownElement.style.display = "block";
            });
            
            document.addEventListener("click", function (event) {
                const target = event.target;
                if (!dropdownElement.contains(target) && target !== inputElement) {
                    dropdownElement.style.display = "none";
                }
            });
        }
    
        function addPosition(dropdownId, optionText) {
            const dropdownElement = document.getElementById(dropdownId);
            const newOption = document.createElement("div");
            newOption.className = "dropdown-option";
            newOption.textContent = optionText;
    
            newOption.addEventListener("click", function () {
                const inputElement = document.getElementById("positionname");
                inputElement.value = optionText;
                dropdownElement.style.display = "none";
            });
            
            dropdownElement.appendChild(newOption);
        }

        function addAccess(dropdownId, optionText) {
            const dropdownElement = document.getElementById(dropdownId);
            const newOption = document.createElement("div");
            newOption.className = "dropdown-option";
            newOption.textContent = optionText;
    
            newOption.addEventListener("click", function () {
                const inputElement = document.getElementById("accessname");
                inputElement.value = optionText;
                dropdownElement.style.display = "none";
            });
            
            dropdownElement.appendChild(newOption);
        }
    
        LoadList()
    
        setupCustomDropdown("positionname", "positionDropdown", "dropdown-option");
        setupCustomDropdown("accessname", "accessDropdown", "dropdown-option");  
        
    })
</script>