<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header py-3 header-bg">
                    <h6 class="m-0 font-weight-bold text-white">Users</h6>
                </div>
                <div class="card-body extend">
                    <div class="row mb-2">
                        <div class="col-md-6 mmb">
                            <div class="input-group">
                                <select class="form-control text-center" name="employeelist" id="employeelist">
                                    <option value="">--Select here--</option>
                                </select>    
                                <div class="input-group-append">
                                    <span class="input-group-text label-width-2" id="basic-addon2">Employee ID</span>
                                </div>
                            </div>
                            <div class="custom-dropdown" id="employeeDropdown">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input class="form-control text-center custom-input" placeholder="Select/Input Access" name="accessname" id="accessname"/>
                                <div class="input-group-append">
                                    <span class="input-group-text label-width-2">Access Type</span>
                                </div>
                            </div>
                            <div class="custom-dropdown" id="accessDropdown">
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input class="form-control text-center custom-input" placeholder="Select/Input Position" name="positionname" id="positionname"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">Position</span>
                                </div>
                            </div>
                            <div class="custom-dropdown" id="positionDropdown">
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-2 align mt-3">
                            <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-inventory shadow-sm w-100">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                ADD
                            </button>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>

<!-- DataTales Example -->
<div class="card shadow mb-4 table-size">
    <div class="card-header py-3 header-bg">
        <h6 class="m-0 font-weight-bold table-title text-white">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table table-bordered" id="users-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th class = "col-1">User Code</th>
                        <th class = "col-1">Employee ID</th>
                        <th class = "col-1">Access Type</th>
                        <th class = "col-1">Position Type</th>
                        <th class = "col-1">Username</th>
                        <th class = "col-1">Password</th>
                        <th class = "col-1">Created by</th>
                        <th class = "col-1">Created date</th>
                        <th class = "col-1">Status</th>
                        <th class = "col-1">Action</th>               
                    </tr>
                </thead>
                    
                <tbody>
                </tbody>
            </table>
        </div>
        
    </div>
</div>