<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/header.ejs")%>
  </head>

  <body id="pCreated by-top">
    <!-- PCreated by Wrapper -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <%- include("../pages/login/login.ejs")%>

      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    <!-- End of PCreated by Wrapper -->

    <!-- Scroll to Top Button-->
    <%- include("../components/scripts.ejs") %> <%- include("../pages/login/loginscripts.ejs") %>
  </body>
</html>
