<!-- Begin PCreated by Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header py-3 header-bg">
                    <h6 class="m-0 font-weight-bold text-white">Products</h6>
                </div>
                <div class="card-body extend">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Product ID</span>
                                </div>
                                <input id="productid" name="productid" type="text" class="form-control" placeholder="Enter Product ID" aria-label="employeeid" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2">Description</span>
                                </div>
                                <input id="description" name="description" type="text" class="form-control" placeholder="Enter Description" aria-label="fullname" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input
                                        class="btn btn-outline-inventory shadow-sm w-100"
                                        type="file"
                                        id="imageInput"
                                        placeholder="Select Image"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="align-img">
                                <img
                                id="productimage"
                                src="/images/img/logo(Small).png"
                                class="img-thumbnail "
                                alt="..."
                            />
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-2 align mt-2">
                            <button id="addBtn" name="addBtn" class="btn btn-sm btn-outline-inventory shadow-sm w-100">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                ADD
                            </button>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>

<!-- DataTales Example -->
<div class="card shadow mb-4 table-size">
    <div class="card-header py-3 header-bg">
        <h6 class="m-0 font-weight-bold table-title text-white">Products Data Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive scrollable-table-container">
            <table class="table table-bordered" id="products-dataTable" width="100%" cellspacing="10">
                <thead class="table-header">
                    <tr>
                        <th class = "col-1">Product ID</th>
                        <th class = "col-1">Description</th>
                        <th class = "col-3">Product Image</th>
                        <th class = "col-2">Created by</th>
                        <th class = "col-2">Created date</th>
                        <th class = "col-1">Status</th>
                        <th class = "col-2">Action</th>               
                    </tr>
                </thead>
                    
                <tbody>
                </tbody>
            </table>
        </div>
        
    </div>
</div>