<script>
    $(document).ready(function () {

        //Loadlist Data
        Loadlist = () =>{
            const reasons = [
                { text: "Inventory Count", data: "inventory_count" },
                { text: "Damage", data: "damage" },
                { text: "Loss", data: "loss" },
                { text: "Supplier Return", data: "supplier_return" },
                { text: "Customer Return", data: "customer_return" }
            ];

            const adjustment_Type = [
                { text: "Replenishment", data: "replenishment" },
                { text: "Return", data: "return" },
                { text: "Correction", data: "correction" },
                { text: "Shrinkage", data: "shrinkage" },
                { text: "Disposal", data: "disposal" }
            ];
            
            $.ajax({
                type: 'GET',
                url: '/branch/load',
                success: function (result) {
                    var data = result.data;
                    $.each(data, function (key, item) {
                        if (item.status == "ACTIVE" && item.categoryname !== "Material") {

                            var listItem = $('<li></li>')
                                .text(item.branchname + " (" + item.branchid + ")")
                                .data('branchid', item.branchid);
                            $('.branchlist').append(listItem);
                        }
                    });
                    $('.branchlist').on('click', 'li', function () {
                        var selectedOption = $(this).text();
                        var selectedId = $(this).data('branchid');
                        $('#selectedbranch').text(selectedOption);
                        $('#branchfilter').val(selectedId).change();
                    });
                },
                error: function (err) {
                    errormsg(err);
                }
            });

            reasons.forEach(function(reason) {
                const listItem = $('<li></li>')
                    .text(reason.text)
                    .data('id', reason.data);
                $('.reasonlist').append(listItem);
            });
            $('.reasonlist').on('click', 'li', function () {
                const selectedOption = $(this).text();
                const selectedId = $(this).data('id');
                $('#selectedreason').text(selectedOption);
                $('#reasonfilter').val(selectedId).change();
            });

            adjustment_Type.forEach(function(type) {
                const listItem = $('<li></li>')
                    .text(type.text)
                    .data('id', type.data);
                $('.adjustmenttypelist').append(listItem);
            });
            $('.adjustmenttypelist').on('click', 'li', function () {
                const selectedOption = $(this).text();
                const selectedId = $(this).data('id');
                $('#selectedadjustmenttype').text(selectedOption);
                $('#adjustmenttypefilter').val(selectedId).change();
            });
        }

        Loadlist();

    });
</script>